section.intro.trust-management__intro
	.site-container.intro__container
		.intro-slider
			.intro-slider__item
				img(class="intro-slider__img _type3 _mobile" src="/local/assets/img/intro-block/man-reading-smth-mobile.svg", alt="Инвестиции с «Ак Барс Капитал»")
				img(class="intro-slider__img _type3 _desctop" src="/local/assets/img/intro-block/man-reading-smth.svg", alt="Инвестиции с «Ак Барс Капитал»")
				h1.intro__heading.intro-heading
					|	Доверительное управление

				button.button.button-reset.intro__btn.trust-management__intro-btn(data-path="callback")
					|	Получить консультацию

+linkCSS("intro-block")
