section.intro
	.site-container.intro__container
		.intro-slider
			.intro-slider__item
				img(class="intro-slider__img _type3" src="/local/assets/img/intro-block/man-reading-smth.svg", alt="Инвестиции с «Ак Барс Капитал»")
				h1.intro__heading.intro-heading
					|	Доверительное управление

				a.button.button-reset.intro__btn(href="/")
					|	Начать инвестировать

+linkCSS("intro-block")
