+linkCSS("management-feautures")

section.management-feautures.section(data-anim-fade)
	.site-container.management-feautures__container
		h2.management-feautures__heading.second-title
			|	Клиент индивидуального доверительного управления получает
		.management-feautures__list
			.management-feautures__item
				img(class="management-feautures__item-icon" src="/local/assets/img/feautures/calendar-ok.svg", alt="")
				p.management-feautures__item-text
					|	Ежеквартальную отчетность о состоянии своего портфеля
			.management-feautures__item
				img(class="management-feautures__item-icon" src="/local/assets/img/feautures/list-orange.svg", alt="")
				p.management-feautures__item-text
					|	Оперативную отчетность об инвестиционных действиях
			.management-feautures__item
				img(class="management-feautures__item-icon" src="/local/assets/img/feautures/magic-blue.svg", alt="")
				p.management-feautures__item-text
					|	Аналитические обзоры и прогнозы инвестиционного рынка

section.management-feautures.section(data-anim-fade)
	.site-container.management-feautures__container
		h2.management-feautures__heading.second-title
			|	Вознаграждение доверительного управляющего подразделяется на:
		.management-feautures__list
			.management-feautures__item
				img(class="management-feautures__item-icon" src="/local/assets/img/feautures/man-green.svg", alt="")
				p.management-feautures__item-text
					|	Вознаграждение за управление
			.management-feautures__item
				img(class="management-feautures__item-icon" src="/local/assets/img/feautures/trophy.svg", alt="")
				p.management-feautures__item-text
					|	Вознаграждение за успех
