+linkCSS("rights")

section.rights.js-right-container
	.rights__container.site-container
		p.rights__text
			|	Любые инвестиции в ценные бумаги являются в определенной степени рискованными. Существует вероятность возникновения реального ущерба или упущенной выгоды при осуществлении Управляющей компанией доверительного управления. Результаты деятельности Управляющей компании в прошлом не определяют доходы в будущем. При подписании договора доверительного управления управляющий обязан ознакомить учредителя управления с рисками осуществления деятельности по управлению ценными бумагами на рынке ценных бумаг.
		button.button-reset.button._black.js-right-btn
			|	Ок, я понял

+linkJs("rights")
