+linkCSS("solo-management")

section.section.solo-management
	.solo-management__container.site-container
		.solo-management__left-block
			h2.solo-management__heading.second-title
				span
					|	Что такое
				|	индивидуальное управление?
			p.solo-management__txt
				|	Это услуга для тех, кто желает расширить инвестиционные возможности, ценит свое время и&nbsp;персонализированное обслуживание.
		.solo-management__right-block
			.solo-management__content
				span.solo-management__content-heading
					|	ВАЖНО ЗНАТЬ
				p
					b
						|	В отличие от паевых фондов услуга
					|	доверительного управления не предполагает законодательных ограничений по составу и структуре активов, объектам инвестирования и инвестиционной стратегии. С каждым учредителем управления Управляющая компания заключает индивидуальный договор, в котором закрепляются все условия доверительных отношений между клиентом и управляющим. Параметры инвестиционной стратегии закрепляются инвестиционной декларацией. Индивидуальное доверительное управление предполагает более высокие первоначальные суммы инвестиций
