+linkCSS("tabs-content")

section.tabs-content.section.managment-margin
	.site-container.tabs-content__container.js-tabs-container
		ul.tabs-content__nav
			li.tabs-content__nav-item
				label.tabs-content__nav-label
					input.visually-hidden.js-tab(type="radio" checked name="tab" value="strategy")
					span.tabs-content__btn
						|	Стратегия «Твоя финансовая Свобода»
			li.tabs-content__nav-item
				label.tabs-content__nav-label
					input.visually-hidden.js-tab(type="radio" name="tab" value="questions")
					span.tabs-content__btn
						|	Частые вопросы
			li.tabs-content__nav-item
				label.tabs-content__nav-label
					input.visually-hidden.js-tab(type="radio" name="tab" value="docs")
					span.tabs-content__btn
						|	Документы
			li.tabs-content__nav-item
				label.tabs-content__nav-label
					input.visually-hidden.js-tab(type="radio" name="tab" value="invest")
					span.tabs-content__btn
						|	Требования к инвестору
		.tabs-content__content-list
			.tabs-content__content.js-tab-content(data-content="strategy")
				.questions
					h5
						|	Инвестиционная стратегия
					p
						|	Формирование индивидуальной стратегии происходит с учетом инвестиционных целей инвестора, для этого необходимо определиться со следующими параметрами:
						br
						|	- лояльность к риску;
						br
						|	- сумма инвестирования;
						br
						|	- срок инвестирования.
					h5
						|	Портфель

					p
						|	собый подход к формированию портфеля позволяет при использовании комбинации финансовых инструментов формировать эффективное решение по управлению капиталом.

					h5
						|	Инвестиционная цель
					p
						|	Разработка оптимальной индивидуальной инвестиционной стратегии управления, с учетом пожеланий инвестора.

					h5
						|	Преимущества:
					p
						|	- эффективное размещение капитала;
						br
						|	- оптимальное соотношение риска и доходности;
						br
						|	- гибкое управление капиталом с учетом предпочтений инвестора;
						br
						|	- мобильное перераспределение средств в различные финансовые инструменты с учетом быстро изменяющегося инвестиционного ландшафта;
						br
						|	- постоянный поиск и внедрение актуальных инвестиционных решений;
						br
						|	- персональный подход.
					h5
						|	Минимальная сумма инвестирования:
					p
						|	10 000 000 руб.
					h5
						|	Вознаграждение за управление:
					p
						|	Определяется индивидуально.
					h5
						|	Вознаграждение за успех:
					p
						|	Определяется индивидуально.
					h5
						|	Планка доходности:
					p
						|	Выбирается индивидуально.

			.tabs-content__content.js-tab-content(data-content="questions")
				.questions
					h4
						|	Что такое ПИФ?
					p
						|	Паевой инвестиционный фонд — это форма коллективного инвестирования средств частных инвесторов, проще говоря, сложенные вместе деньги пайщиков, на которые управляющая компания приобретает акции предприятий и другие активы с потенциалом роста их стоимости.

					h4
						|	Есть ли в ПИФах льготы пенсионерам?

					p
						|	Нет. На рынке ценных бумаг не существует градаций ни по возрасту, ни по социальному статусу, ни по половому признаку. Все участники находятся в равных условиях и одинаково разделяют как доходы от инвестирования, так и рыночные риски.

					h4
						|	Чем рискует инвестор?
					p
						|	Необходимо понимать, что на рынке ценных бумаг не может быть гарантий доходности инвестиций. Оценочная стоимость инвестиций в паи (а паи являются ценными бумагами) может как возрастать, так и снижаться. Прибыль или убыток инвестора возникает в момент продажи паев и определяется разницей от первоначального вложения в ценные бумаги. Риск можно рассматривать как вынужденную продажу паев в «неблагоприятный» период на фондовом рынке ввиду неотлагательных причин.


					h4
						|	Где приобрести или погасить паи?
					p
						|	Приобрести, погасить или обменять паи ПИФов УК «АК БАРС КАПИТАЛ» вы можете в офисах продаж самой Управляющей компании или ее Агентов — смотрите раздел «Где купить?»

					h4
						|	Где описаны условия покупки и продажи паев?

					p
						|	Условия приобретения, погашения и обмена инвестиционных паев закреплены в Правилах доверительного управления фондом, официально зарегистрированных ФСФР России. С Правилами фонда всегда можно ознакомиться в пункте приема заявок а также на сайте в разделе «Раскрытие информации».

					h4
						|	Какие налоги уплачиваются с ПИФов?
					p
						|	В соответствии с законодательством сам паевой фонд не платит налог на прибыль, поскольку не является юридическим лицом. Налогообложение возникает только в момент продажи принадлежащих владельцу инвестиционных паев. С физических лиц — владельцев инвестиционных паев взимается налог на доходы физических лиц. Юридические лица, владельцы инвестиционных паев, уплачивают налог на прибыль. Подробнее читайте в разделе «Паевые инвестиционные фонды — Начинающему инвестору»

			.tabs-content__content.js-tab-content(data-content="docs")
				.docs
					a.file.docs__file(href="/" download)
						<svg class="file__icon" width="44" height="54" viewBox="0 0 44 54" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.12354 47V7C2.12354 4.23858 4.36212 2 7.12354 2H24.7955C26.1618 2 27.4685 2.55908 28.412 3.54729L40.74 16.4599C41.628 17.3901 42.1235 18.6266 42.1235 19.9126V47C42.1235 49.7614 39.885 52 37.1235 52H7.12354C4.36211 52 2.12354 49.7614 2.12354 47Z" stroke="#00B2A9" stroke-width="3"/>
							<path d="M26.4094 2V12.7143C26.4094 15.4757 28.648 17.7143 31.4094 17.7143H42.1237" stroke="#00B2A9" stroke-width="3"/>
							<rect x="2" y="25.4568" width="40.1235" height="18.5185" fill="#00B2A9"/>
							<path d="M9.86367 35.992V40.3269H7.83643V28.6603H12.2996C13.603 28.6603 14.6366 28.9995 15.4005 29.6779C16.1698 30.3563 16.5544 31.2538 16.5544 32.3702C16.5544 33.5134 16.1778 34.4028 15.4246 35.0385C14.6767 35.6742 13.627 35.992 12.2755 35.992H9.86367ZM9.86367 34.3654H12.2996C13.0207 34.3654 13.5709 34.1971 13.9502 33.8606C14.3295 33.5187 14.5191 33.0273 14.5191 32.3862C14.5191 31.7559 14.3268 31.2538 13.9422 30.8798C13.5576 30.5006 13.0287 30.3056 12.3557 30.2949H9.86367V34.3654Z" fill="white"/>
							<path d="M18.3332 40.3269V28.6603H21.7787C22.8097 28.6603 23.7232 28.89 24.5191 29.3494C25.3204 29.8088 25.9401 30.4605 26.3781 31.3045C26.8161 32.1485 27.0351 33.1154 27.0351 34.2052V34.7901C27.0351 35.8959 26.8135 36.8681 26.3701 37.7068C25.932 38.5454 25.3044 39.1918 24.4871 39.6459C23.6751 40.0999 22.7429 40.3269 21.6906 40.3269H18.3332ZM20.3605 30.2949V38.7084H21.6826C22.7456 38.7084 23.5603 38.3772 24.1265 37.7148C24.6981 37.047 24.9892 36.0908 24.9999 34.8462V34.1971C24.9999 32.9311 24.7248 31.9642 24.1746 31.2965C23.6244 30.6288 22.8257 30.2949 21.7787 30.2949H20.3605Z" fill="white"/>
							<path d="M35.7771 35.383H31.0816V40.3269H29.0544V28.6603H36.4662V30.2949H31.0816V33.7644H35.7771V35.383Z" fill="white"/>
						</svg>
						div
							span.file__name
								|	Порядок предоставления информации и документов инвесторам в связи с обращением ценных бумаг
						span.file__size
							|	 pdf – 159 Кб
					a.file.docs__file(href="/" download)
						<svg class="file__icon" width="44" height="54" viewBox="0 0 44 54" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.12354 47V7C2.12354 4.23858 4.36212 2 7.12354 2H24.7955C26.1618 2 27.4685 2.55908 28.412 3.54729L40.74 16.4599C41.628 17.3901 42.1235 18.6266 42.1235 19.9126V47C42.1235 49.7614 39.885 52 37.1235 52H7.12354C4.36211 52 2.12354 49.7614 2.12354 47Z" stroke="#00B2A9" stroke-width="3"/>
							<path d="M26.4094 2V12.7143C26.4094 15.4757 28.648 17.7143 31.4094 17.7143H42.1237" stroke="#00B2A9" stroke-width="3"/>
							<rect x="2" y="25.4568" width="40.1235" height="18.5185" fill="#00B2A9"/>
							<path d="M9.86367 35.992V40.3269H7.83643V28.6603H12.2996C13.603 28.6603 14.6366 28.9995 15.4005 29.6779C16.1698 30.3563 16.5544 31.2538 16.5544 32.3702C16.5544 33.5134 16.1778 34.4028 15.4246 35.0385C14.6767 35.6742 13.627 35.992 12.2755 35.992H9.86367ZM9.86367 34.3654H12.2996C13.0207 34.3654 13.5709 34.1971 13.9502 33.8606C14.3295 33.5187 14.5191 33.0273 14.5191 32.3862C14.5191 31.7559 14.3268 31.2538 13.9422 30.8798C13.5576 30.5006 13.0287 30.3056 12.3557 30.2949H9.86367V34.3654Z" fill="white"/>
							<path d="M18.3332 40.3269V28.6603H21.7787C22.8097 28.6603 23.7232 28.89 24.5191 29.3494C25.3204 29.8088 25.9401 30.4605 26.3781 31.3045C26.8161 32.1485 27.0351 33.1154 27.0351 34.2052V34.7901C27.0351 35.8959 26.8135 36.8681 26.3701 37.7068C25.932 38.5454 25.3044 39.1918 24.4871 39.6459C23.6751 40.0999 22.7429 40.3269 21.6906 40.3269H18.3332ZM20.3605 30.2949V38.7084H21.6826C22.7456 38.7084 23.5603 38.3772 24.1265 37.7148C24.6981 37.047 24.9892 36.0908 24.9999 34.8462V34.1971C24.9999 32.9311 24.7248 31.9642 24.1746 31.2965C23.6244 30.6288 22.8257 30.2949 21.7787 30.2949H20.3605Z" fill="white"/>
							<path d="M35.7771 35.383H31.0816V40.3269H29.0544V28.6603H36.4662V30.2949H31.0816V33.7644H35.7771V35.383Z" fill="white"/>
						</svg>
						div
							span.file__name
								|	Порядок предоставления информации и документов инвесторам в связи с обращением ценных бумаг
						span.file__size
							|	 pdf – 159 Кб
					a.file.docs__file(href="/" download)
						<svg class="file__icon" width="44" height="54" viewBox="0 0 44 54" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.12354 47V7C2.12354 4.23858 4.36212 2 7.12354 2H24.7955C26.1618 2 27.4685 2.55908 28.412 3.54729L40.74 16.4599C41.628 17.3901 42.1235 18.6266 42.1235 19.9126V47C42.1235 49.7614 39.885 52 37.1235 52H7.12354C4.36211 52 2.12354 49.7614 2.12354 47Z" stroke="#00B2A9" stroke-width="3"/>
							<path d="M26.4094 2V12.7143C26.4094 15.4757 28.648 17.7143 31.4094 17.7143H42.1237" stroke="#00B2A9" stroke-width="3"/>
							<rect x="2" y="25.4568" width="40.1235" height="18.5185" fill="#00B2A9"/>
							<path d="M9.86367 35.992V40.3269H7.83643V28.6603H12.2996C13.603 28.6603 14.6366 28.9995 15.4005 29.6779C16.1698 30.3563 16.5544 31.2538 16.5544 32.3702C16.5544 33.5134 16.1778 34.4028 15.4246 35.0385C14.6767 35.6742 13.627 35.992 12.2755 35.992H9.86367ZM9.86367 34.3654H12.2996C13.0207 34.3654 13.5709 34.1971 13.9502 33.8606C14.3295 33.5187 14.5191 33.0273 14.5191 32.3862C14.5191 31.7559 14.3268 31.2538 13.9422 30.8798C13.5576 30.5006 13.0287 30.3056 12.3557 30.2949H9.86367V34.3654Z" fill="white"/>
							<path d="M18.3332 40.3269V28.6603H21.7787C22.8097 28.6603 23.7232 28.89 24.5191 29.3494C25.3204 29.8088 25.9401 30.4605 26.3781 31.3045C26.8161 32.1485 27.0351 33.1154 27.0351 34.2052V34.7901C27.0351 35.8959 26.8135 36.8681 26.3701 37.7068C25.932 38.5454 25.3044 39.1918 24.4871 39.6459C23.6751 40.0999 22.7429 40.3269 21.6906 40.3269H18.3332ZM20.3605 30.2949V38.7084H21.6826C22.7456 38.7084 23.5603 38.3772 24.1265 37.7148C24.6981 37.047 24.9892 36.0908 24.9999 34.8462V34.1971C24.9999 32.9311 24.7248 31.9642 24.1746 31.2965C23.6244 30.6288 22.8257 30.2949 21.7787 30.2949H20.3605Z" fill="white"/>
							<path d="M35.7771 35.383H31.0816V40.3269H29.0544V28.6603H36.4662V30.2949H31.0816V33.7644H35.7771V35.383Z" fill="white"/>
						</svg>
						div
							span.file__name
								|	Порядок предоставления информации и документов инвесторам в связи с обращением ценных бумаг
						span.file__size
							|	 pdf – 159 Кб
			.tabs-content__content.js-tab-content(data-content="invest")
				.questions
					h3
						|	Условия инвестирования

					h4
						|	Минимальная сумма инвестиций
					p
						|	— 1 000 рублей по заявкам на приобретение инвестиционных паев, поданным владельцем инвестиционных паев;
						br
						|	— 30 000 рублей по заявкам на приобретение инвестиционных паев, поданным номинальным держателем.

					h4
						|	Надбавка

					p
						|	При приобретении инвестиционных паев по заявке, поданной Управляющей компании или Агенту ПАО «АК БАРС» БАНК надбавка, на которую увеличивается расчетная стоимость инвестиционного пая, составляет:

					p
						|	—  1 (Один) процент от расчетной стоимости одного инвестиционного пая при внесении в оплату инвестиционных паев Фонда денежных средств в размере менее 50 000 (Пятидесяти тысяч) рублей;

					p
						|	—  0,5 (Ноль целых пять десятых) процента от расчетной стоимости одного инвестиционного пая при внесении в оплату инвестиционных паев Фонда денежных средств...
					h4
						|	Скидка
					p
						|	При погашении инвестиционных паев Фонда по заявке, поданной Управляющей компании или Агенту ПАО «АК БАРС» БАНК, скидка, на которую уменьшается расчетная стоимость инвестиционного пая, составляет:

					p
						|	- 1,8 (Одна целая восемь десятых) процента от расчетной стоимости инвестиционного пая в случае, если заявка на погашение инвестиционных паев подана в срок менее или равный 180 (Ста восьмидесяти) дням со дня внесения приходной записи по зачислению данных инвестиционных паев на лицевой счет, с которого производится погашение данных инвестиционных паев;

					h4
						|	Вознаграждения
					p
						|	Вознаграждение УК: 1,3 % от среднегодовой стоимости чистых активов Фонда.

					p
						|	Вознаграждения специализированного депозитария, регистратора: не более 0,25% среднегодовой стоимости чистых активов Фонда.

					p
						|	Прочие расходы: не более 0,4% от среднегодовой стоимости чистых активов Фонда.

+linkJs("tabs")
