@import "_mixins/_media";
@import "_mixins/_px-to-rem";
@import "_mixins/_flex";
@import "_fonts";

.button-reset {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border-radius: 0;
	border: none;
	font-family: var(--main-ff);
}

.logo {
	display: block;
	margin-right: 2.4rem;

	&__img {
		max-width: 8.5rem;
	}
}

.button {
	display: inline-block;
	padding: 1.8rem 3.3rem;
	font-size: 1.8rem;
	line-height: 2.7rem;
	font-weight: 500;
	background-color: var(--color-green);
	color: var(--color-white);
	text-align: center;
	border-radius: 0.4rem;
	cursor: pointer;
	transition: background-color var(--transition), transform var(--transition);

	&:hover {
		background-color: var(--color-green-light)
	}

	&:active {
		transform: scale(0.98);
	}

	@include mq(md) {
		padding: 1.5rem 3.5rem;
		font-size: 1.6rem;
		line-height: 2.7rem;
	}

	@include mq(sm) {
		padding: 1rem 2rem;
		font-size: 1.4rem;
		line-height: 2.7rem;
	}
}

.social {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-row: 2;
	column-gap: 4rem;
	row-gap: 2rem;
	max-width: 20rem;

	@include mq(md) {
		column-gap: 3rem;
		row-gap: 2.4rem;
	}

	&__item {
		grid-column: 1 span;
	}

	&__link {
		width: 4rem;
		height: 4rem;
		background-color: var(--color-grey);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0.4rem;
		transition: background-color var(--transition);

		&:hover {
			background-color: var(--color-green-lighter)
		}

		&-icon {
			fill: var(--color-dark-grey);
		}
	}
}

.artrockets {
	display: flex;
	align-items: flex-end;

	span {
		display: block;
		margin-right: 0.5rem;
		font-size: 1.4rem;
		line-height: 1;
		letter-spacing: 0.02em;
		color: var(--color-grey2);
	}

	img {
		transform: translateY(-0.2rem);
	}
}

.intro-heading {
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 6.5rem;
	letter-spacing: 0.02em;
}

.slider-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 11.6rem;

	&.anim-start {
		.slider-nav__btn-circle {
			animation: circle 9s linear infinite;
			animation-delay: 0.1s;
		}
	}

	&__btn {
		position: relative;

		@include flex-center;

		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		border: 1px solid var(--rgba-white-05);
		cursor: pointer;

		&.swiper-button-disabled {
			pointer-events: none;
			opacity: 0.5;
			.slider-nav__btn-circle {
				opacity: 0;
			}
		}

		&.opacity {
			.slider-nav__btn-circle {
				opacity: 0;
			}
		}

		&.non-opacity {
			.slider-nav__btn-circle {
				opacity: 1;
			}
		}
	}

	&__btn-icon {
		display: block;
		stroke-width: 2px;
		stroke: var(--color-white);
	}

	&__btn-circle {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		transform: translate(-50%, -50%);
		stroke-dashoffset: 155;
		stroke-dasharray: 155;
	}
}

@keyframes circle {
	from {
		stroke-dashoffset: 155;
	}

	to {
		stroke-dashoffset: 0;
	}
}

.section {
	margin-bottom: 11.6rem;

	@include mq(md) {
		margin-bottom: 6.4rem;
	}

	@include mq(sm) {
		margin-bottom: 4.8rem;
	}
}

.second-title {
	font-size: 3.2rem;
	line-height: 4rem;
	color: var(--color-dark);

	span {
		color: var(--color-green);
	}
}

.input {
	width: 100%;
	height: 6.4rem;
	background-color: var(--color-white);
	border-radius: 0.4rem;
	border: 1px solid var(--color-white);
	padding: 2.2rem 1.6rem 2rem;
	font-size: 1.6rem;
	line-height: 2.4rem;
	outline: none;

	&::placeholder {
		color: var(--border-color);
	}

	&.parsley-error {
		border-color: var(--color-red);
	}

	~ .parsley-errors-list {
		position: absolute;
		right: 1rem;
		bottom: 0.5rem;
		color: var(--color-red);
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
}


.file {
	display: inline-flex;
	align-items: flex-start;
	padding: 4rem 3.2rem;
	border-radius: 1rem;
	background-color: var(--color-grey-bg);
	width: 62rem;
	transition: background-color var(--transition);

	&__icon {
		display: block;
		margin-right: 3rem;
		width: 4rem;
		height: 5rem;
	}

	&__name {
		display: block;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2.4rem;
		max-width: 31.5rem;
	}

	&__size {
		color: var(--color-grey2);
		font-size: 1.4rem;
		line-height: 1.9rem;
		margin-left: auto;
	}

	&:hover {
		background-color: var(--color-green-lighter);
	}
}
