:root {
	// Typography
	--main-ff: "Roboto", sans-serif;
	--second-ff: "Rubrick", sans-serif;

	// colors
	--color-dark: #10002B;
	--color-white: #fff;
	--color-green: #00B2A9;
	--color-green-light: #18BEB6;
	--color-green-lighter: rgba(0, 178, 169, 0.15);
	--color-red: #FF2C2C;
	--color-red-light: #FF2C2C;
	--color-grey: #F5F5F5;
	--color-grey2: #959494;
	--color-grey3: #616264;
	--color-grey-bg: #F7F7F9;
	--color-dark-grey: #999999;
	--rgba-white-05: rgba(255, 255, 255, 0.5);
	--rgba-white-06: rgba(255, 255, 255, 0.6);
	--rgba-white-07: rgba(255, 255, 255, 0.7);
	--rgba-white-08: rgba(255, 255, 255, 0.8);
	--border-color: #D3D3D3;
	--border-color2: #EEEFF1;
	--transition: 200ms;

	--color-bg: #fff;
}

$breakpoint-xxs: 480px;
$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1199px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1680px;
