+linkCSS("yield-table")

-
	let n = 0

main.page-main.main
	section.yield-table.section_small-margin
		.site-container.yield-table__container
			.yield-table__head-wrapper
				a.yield-table__link.second-title(href="/")
					+icon("arrow-shevron-left")(width="10" height="16" class="yield-table__link-icon")
					| Результаты работы ПИФ

				.yield-table__nav
					span
						|	Доходность фондов на
					.yield-table__select
						select(name="period" class="js-custom-select")
							while n<3
								option(value="22 ноября 2021")
									|	22 ноября 202#{n++}


			include yield-table

			.yield-table__text-info
				p
					|	* Прирост определяется в соответствии с Указанием Банка России от 02.11.2020 г. №5609-У "О раскрытии,распространений и предоставлении информации акционерными инвестиционными фондами и управляющими компаниями инвестиционных фондов, паевых инвестиционных фондов и негосударственных пенсионных фондов, а также о требованиях к расчету доходности инвестиционной деятельности акционерного инвестиционного фонда и управляющей компании паевого инвестиционного фонда"

				p
					|	Права и обязанности по договору доверительного управления Закрытым паевым инвестиционным фондом недвижимости «АНКОР – фонд недвижимости» переданы Обществу с ограниченной ответственностью "Управляющая компания Простор Инвест" (Лицензия управляющей компании на осуществление деятельности по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными пенсионными фондами от "27" мая 2019 г. № 21-000-1-01023, предоставленная Центральным Банком Российской Федерации) 19.02.2021 года.
			button.button-reset.yield-table__text-info-btn
				|	Полный текст


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
+linkJs("initSelects")
+linkJs("initDropMenu")
+linkJs("initYieldChart")
