-
	let head_arr = [
		"Дата", "Пай, руб.", "СЧА, руб.", "Прирост за 1 месяц", "за 3 месяца",
		"за 6 месяцев", "за год", "за 3 года", "за 5 лет"
	]

	let found_arr = [
		{
			name: "03.12.2021",
			attr: "Дата"
		},
		{
			name: "3 968.58",
			attr: "Пай, руб."
		},
		{
			name: "4 945 280.86",
			attr: "СЧА, руб."
		},
		{
			name: "- 5.49",
			attr: "Прирост за 1 месяц"
		},
		{
			name: "- 3.29",
			attr: "За 3 месяца"
		},
		{
			green: true,
			name: "3.05",
			attr: "За 6 месяцев"
		},
		{
			green: true,
			name: "21.06",
			attr: "За год"
		},
		{
			green: true,
			name: "70.99",
			attr: "За 3 года"
		},
		{
			green: true,
			last: true,
			name: "123.74",
			attr: "За 5 лет"
		}
	]

	let found_names = [
		"«АК БАРС — Акции»", "«АК БАРС — Консервативный»", "«АК БАРС — Индексный»",
		"«АК БАРС — Консервативный»", "«АК БАРС — Индексный»", "«АК БАРС — Консервативный»",
		"«АК БАРС — Индексный»"
	]


.yield-table__table.yield-info-table
	.yield-info-table__head
		.yield-info-table__td.yield-info-table__head-td
			+icon("menu")(width="24" height="24" class="yield-info-table__menu-icon")
			|	Название фонда
		for item in head_arr
			.yield-info-table__td.yield-info-table__head-td=item
	.yield-info-table__body
		for name in found_names
			.yield-info-table__tr.js-chart-parent
				button.yield-info-table__tr-inner.button-reset.js-drop-menu-btn.js-init-chart
					.yield-info-table__td.yield-info-table__td-body=name
					for item in found_arr
						- let greenClass = item.green ? "is-green" : false
						.yield-info-table__td.yield-info-table__td-body(data-heading=item.attr class=greenClass)=item.name
							- if (item.green == true)
								+icon("small-green-triangle")(width="12" height="11" class="yield-info-table__td-icon")
							- if (item.last == true)
								+icon("arrow-down")(width="16" height="10" class="yield-info-table__td-icon-shevron")
				.drop-menu-container.js-drop-menu-container
					.yield-info-table__info.drop-menu.js-drop-menu
						.yield-info-table__info-col
							span.yield-info-table__info-legend
								|	Динамика стоимости пая

							.yield-info-table__info-dates.js-dates-parent
								label.yield-info-table__info-dates-icon-wrapper
									input(type="text" class="visually-hidden js-yield-info-dates site-dates__input")
									+icon("calendar2")(width="20" height="20" class="yield-info-table__info-dates-icon")
									span.js-start-date
										|	22 ноября 2021
									|	-
									span.js-end-date
										|	23 ноября 2021

							.yield-info-table__info-statistics
								.yield-info-table__info-statistics-item
									span.yield-info-table__info-statistics-time
										|	за 1 год:
									span.yield-info-table__info-statistics-percents
										|	72,66%
										+icon("small-green-triangle")(width="12" height="11" class="yield-info-table__info-statistics-icon")
								.yield-info-table__info-statistics-item
									span.yield-info-table__info-statistics-time
										|	за 5 лет:
									span.yield-info-table__info-statistics-percents
										|	172,66%
										+icon("small-green-triangle")(width="12" height="11" class="yield-info-table__info-statistics-icon")
								.yield-info-table__info-statistics-item
									span.yield-info-table__info-statistics-time
										|	за 3 года:
									span.yield-info-table__info-statistics-percents
										|	78,6%
										+icon("small-green-triangle")(width="12" height="11" class="yield-info-table__info-statistics-icon")
								.yield-info-table__info-statistics-item
									span.yield-info-table__info-statistics-time
										|	за все время:
									span.yield-info-table__info-statistics-percents
										|	278,6%
										+icon("small-green-triangle")(width="12" height="11" class="yield-info-table__info-statistics-icon")
							p
								|	Стратегия предполагает инвестирование в акции компаний, ориентированных на внутренний спрос отечественного рынка. При&nbsp;управлении фондом используется активная стратегия, предполагающая регулярный анализ рынка и изменение структуры портфеля.
							button.button-reset.button._black.yield-info-table__info-btn
								|	Подробнее
						.yield-info-table__info-col
							canvas.yield-info-table__info-chart.js-yield-info-chart
