+linkCSS("pifs")

section.pifs
	.pifs__container.site-container
		a.pifs__item(href="/")
			img.pifs__img(src="/local/assets/img/pifs/pifs-icon.svg" alt="Открытые паевые инвестиционные фонды")
			span.pifs__legend
				|	Открытые паевые инвестиционные фонды
			span.pifs__link-name
				|	Подробнее
		a.pifs__item(href="/")
			img.pifs__img(src="/local/assets/img/pifs/pifs-icon2.svg" alt="Открытые паевые инвестиционные фонды")
			span.pifs__legend
				|	Закрытые паевые инвестиционные фонды
			span.pifs__link-name
				|	Подробнее
