+linkCSS("agents-get")
-
	let agents_arr = [
		"Увеличение продуктовой линейки в ассортименте компании",
		"Получение дополнительного источника дохода",
		"Расширение клиентской базы и увеличение лояльности",
		"Повышение общей эффективности предоставления услуг",
		"Отсутствие необходимости создания собственного инвестиционного продукта",
		"Разработка и реализация совместных проектов и услуг, возможность выбора схемы агентского вознаграждения."
	]


section.section.agents-get
	.site-container.agents-get__container
		h2.agents-get__heading.second-title
			|	Что получают агенты?
		.agents-get__list
			for item in agents_arr
				.agents-get__item
					p=item
