+linkCSS("pifs")

section.pifs-feautures.section
	.site-container.pifs-feautures__container
		h2.pifs-feautures__heading._margin.second-title
			|	Мы помогаем нашим агентам организовать их деятельность
		.pifs-feautures__list.mod-box
			.pifs-feautures__item-wrapper
				.pifs-feautures__item
					img.pifs-feautures__item-img(src="/local/assets/img/pifs/pifs-feautures-icon-strategy.svg", alt="")
					span.pifs-feautures__item-text
						|	Проводим семинары
				p.pifs-feautures__item-text-bottom
					|	Сможете в совершенстве овладеть навыками продаж и клиентского обслуживания, изучить все продукты компании
			.pifs-feautures__item-wrapper
				.pifs-feautures__item
					img.pifs-feautures__item-img(src="/local/assets/img/pifs/pifs-feautures-icon-case.svg", alt="")
					span.pifs-feautures__item-text
						|	Тренинги
				p.pifs-feautures__item-text-bottom
					|	Предоставляем партнерам возможность пройти тренинги и семинары сторонних бизнес-тренеров
			.pifs-feautures__item-wrapper
				.pifs-feautures__item
					img.pifs-feautures__item-img(src="/local/assets/img/pifs/pifs-feautures-icon-money.svg", alt="")
					span.pifs-feautures__item-text
						|	Аналитика
				p.pifs-feautures__item-text-bottom
					|	Предоставляем ежедневные аналитические материалы и другую обязательную информацию в соответствии с законодательством РФ, а также рекламную и презентационную продукцию.
