+linkCSS("intro-block")

section.intro._white-intro.agent-offer__intro
	.site-container.intro__container
		.intro-slider
			.intro-slider__item
				img(class="intro-slider__img _type2" src="/local/assets/img/intro-block/man-shaking-hands.svg", alt="Предложение сотрудничества")
				h1.intro__heading.intro-heading
					|	Предложение сотрудничества

				p.intro__text
					|	«АК БАРС КАПИТАЛ» предлагает сотрудничество по продвижению инвестиционных продуктов через сети посредников.

				a.button.button-reset.intro__btn(href="/")
					|	Получить консультацию
