@import "../_include/variables";
@import "../_include/_mixins/_media";

.chart {
	position: relative;
	width: 100%;
	height: 38.6rem;
	margin-bottom: 5.2rem;

	@include mq(md) {
		width: 100rem;
		margin-bottom: 0;
		height: 33rem;
	}

	&__canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		@include mq(md) {
			width: auto;
			height: auto;
		}
	}

	&__container {
		@include mq(md) {
			padding: 0;
			max-width: none;
			overflow: auto;
			margin-bottom: 3.2rem;
		}
	}
}
