@import "../_include/variables";
@import "../_include/_mixins/_media";


.chief {
	background-color: var(--color-grey-bg);
	padding: 12.4rem 0;

	@include mq(md) {
		padding: 8rem 0;
	}

	@include mq(sm) {
		padding: 4rem 0;
	}

	&__container {
		display: flex;

		@include mq(md) {
			flex-direction: column;
		}
	}

	&__info {
		position: relative;
	}

	&__info-quote {
		position: absolute;
		top: 0;
		left: -6.1rem;
		width: 5rem;
		height: 5rem;
		fill: var(--color-green);
	}

	&__img {
		display: block;
		width: 44.4rem;
		height: 36.1rem;
		object-fit: cover;
		border-radius: 1.2rem;
		margin-right: 16.2rem;

		@include mq(md) {
			align-self: center;
			margin-right: 0;
			margin-bottom: 4rem;
			height: 36.2rem;
		}

		@include mq(sm) {
			width: 28.8rem;
			height: 32rem;
			margin-bottom: 2.4rem;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 2.4rem;
		line-height: 3.6rem;
		font-family: var(--second-ff);
		letter-spacing: 0.02em;
		margin-bottom: 4.6rem;

		@include mq(md) {
			margin-bottom: 3.2rem;
		}

		@include mq(sm) {
			font-size: 1.6rem;
			line-height: 2.4rem;
			margin-bottom: 1.2rem;
		}
	}

	&__name {
		display: block;
		font-weight: 700;
		font-size: 2.5rem;
		line-height: 3.6rem;
		letter-spacing: 0.02em;
		margin-bottom: 0.8rem;

		@include mq(md) {
			margin-bottom: 1.2rem;
		}

		@include mq(sm) {
			font-size: 2rem;
			line-height: 2.8rem;
			margin-bottom: 0.4rem;
		}
	}

	&__position {
		display: block;
		margin-bottom: 4.3rem;
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: rgba($color: #616264, $alpha: 0.6);

		@include mq(md) {
			margin-bottom: 2.4rem;
		}

		@include mq(sm) {
			margin-bottom: 2rem;
		}
	}

	&__link {
		display: inline-flex;
		align-items: center;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2.7rem;
		color: var(--color-green);
		transition: color var(--transition);

		&:hover {
			color: var(--color-dark);

			.icon {
				fill: var(--color-dark);
			}
		}

		br {
			display: none;
		}

		@include mq(sm) {
			display: block;

			br {
				display: block;
			}
		}
	}

	&__link-icon {
		display: block;
		margin-left: 1.2rem;
		width: 1.3rem;
		height: 1.3rem;
		fill: var(--color-green);
		transition: fill var(--transition);

		@include mq(sm) {
			display: inline;
			margin-left: 0.7rem;
		}
	}
}
