@import "../_include/variables";
@import "../_include/_mixins/_media";

.founders {
	&__container {
		position: relative;
	}

	&__img {
		position: absolute;
		right: 8.8rem;
		bottom: 2.7rem;
		width: 47.2rem;
		height: 47.2rem;

		@include mq(md) {
			position: static;
			margin-bottom: 3.2rem;
		}

		@include mq(sm) {
			width: 25.9rem;
			height: 25.9rem;
			margin-bottom: 2.4rem;
		}
	}

	&__heading {
		margin-bottom: 2.4rem;

		@include mq(sm) {
			margin-bottom: 1.2rem;
		}
	}

	&__txt {
		max-width: 76.9rem;
		margin-bottom: 4.2rem;
		font-size: 1.6rem;
		line-height: 2.7rem;

		@include mq(md) {
			margin-bottom: 4rem;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		max-width: 62.7rem;
		margin: -0.8rem -4rem;

		@include mq(sm) {
			display: block;
			max-width: 100%;
			margin: 0;
			margin-bottom: 3.2rem;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		width: calc(50% - 8rem);
		margin: 0.8rem 4rem;
		font-size: 1.8rem;
		line-height: 2.4rem;
		color: var(--color-grey3);

		@include mq(sm) {
			width: 100%;
			margin: 0;
			margin-bottom: 1.6rem;
			font-size: 1.6rem;
			line-height: 2.4rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&::before {
			display: block;
			width: 1.9rem;
			height: 1.9rem;
			border-radius: 50%;
			background-color: var(--color-green);
			margin-right: 0.8rem;
			content: "";
		}

		&._ivesthim {
			&::before {
				background-color: #00B2A9;
			}
		}

		&._kvarts {
			&::before {
				background-color: #FC9202;
			}
		}

		&._ak-bars {
			&::before {
				background-color: rgba($color: #00B2A9, $alpha: 0.6);
			}
		}

		&._ul {
			&::before {
				background-color: #10002B;
			}
		}
	}

	&__legeng {
		display: block;
		margin-top: 7.2rem;
		margin-bottom: 4rem;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 1;
		font-family: var(--second-ff);

		@include mq(md) {
			margin-top: 4rem;
			margin-bottom: 4.2rem;
		}

		@include mq(sm) {
			margin-top: 3.2rem;
			margin-bottom: 2rem;
			font-size: 1.6rem;
			line-height: 2.4rem;
		}
	}

	&__link {
		display: inline-flex;
		align-items: center;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2.7rem;
		color: var(--color-green);

		br {
			display: none;
		}

		@include mq(sm) {
			display: block;

			br {
				display: block;
			}
		}
	}

	&__link-icon {
		width: 1.3rem;
		height: 1.3rem;
		fill: var(--color-green);
		margin-left: 1.2rem;

		@include mq(sm) {
			display: inline;
			margin-left: 0.7rem;
		}
	}

	&__files {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 7.3rem;

		@include mq(md) {
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			column-gap: 24px;
			margin-bottom: 3.2rem;
		}

		@include mq(sm) {
			column-gap: 0;
			row-gap: 12px;
			margin-bottom: 2.4rem;
		}
	}

	&__files-file {
		margin-bottom: 4.7rem;

		@include mq(md) {
			grid-column: 4 span;
			margin-bottom: 0;
		}

		@include mq(sm) {
			grid-column: 8 span;
		}

		&:hover {
			.file__name {
				color: var(--color-green);
				transition: color var(--transition);
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
