@import "../_include/variables";
@import "../_include/_mixins/_media";


.info-card {
	position: relative;
	width: 100%;
	background-color: var(--color-grey-bg);
	height: 40.8rem;
	border-radius: 0.4rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	@include mq(sm) {
		height: 37.4rem;
	}

	&:hover {
		.info-card__img {
			transform: scale(1.2);
		}
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
	}

	&__top {
		width: 100%;
		height: 24.2rem;
		overflow: hidden;

		@include mq(sm) {
			height: 18.6rem;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 500ms;
	}

	&__content {
		background-color: var(--color-grey-bg);
		padding: 2.4rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-grow: 1;

		@include mq(sm) {
			padding: 2.4rem 1.6rem;
		}
	}

	&__tags {
		display: flex;
		align-items: center;
		margin: -0.2rem -0.8rem;

		a {
			position: relative;
			z-index: 3;
			display: block;
			margin: 0.2rem 0.8rem;
			font-weight: 500;
			font-size: 1.4rem;
			line-height: 2.1rem;
			letter-spacing: 0.02em;
			color: #2F80ED;

			&:hover {
				color: var(--color-green-light);
			}

			@include mq(sm) {
				font-size: 1.2rem;
				line-height: 1.6rem;
			}
		}
	}

	&__heading {
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2.4rem;
		margin: 1.6rem 0 1.2rem;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;

		@include mq(sm) {
			font-size: 1.6rem;
			line-height: 2.4rem;
		}
	}

	&__date {
		display: block;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2.4rem;
		color: var(--color-grey3);
		margin-top: auto;
	}
}
