@import "../_include/variables";
@import "../_include/_mixins/_media";

.investor-content {
	&__heading {
		margin-bottom: 5.6rem;

		@include mq(md) {
			margin-bottom: 4rem;
		}

		@include mq(sm) {
			margin-bottom: 2.4rem;
		}
	}

	&__swiper {
		overflow: visible;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 32px;

		@include mq(md) {
			display: flex;
			grid-template-columns: none;
			column-gap: 0;
		}
	}

	&__item {
		grid-column: 4 span;
		background-color: var(--color-grey-bg);
		border-radius: 1rem;
		padding: 2.4rem;

		@include mq(md) {
			flex-shrink: 0;
			grid-column: none;
			width: 40.3rem;
			padding: 2.9rem 2.4rem;
			margin-right: 2.4rem;
			height: auto;

			&:last-child {
				margin-right: 0;
			}
		}

		@include mq(sm) {
			width: 25.7rem;
			padding: 2.4rem 1.6rem;
		}

		ul {
			margin: 1.5rem 0;

			li {
				position: relative;
				padding-left: 1rem;
				margin-bottom: 0.8rem;

				@include mq(sm) {
					font-size: 1.4rem;
					line-height: 2.4rem;
				}

				&:last-child {
					margin-bottom: 0;
				}

				&::before {
					position: absolute;
					top: 1rem;
					left: 0;
					width: 0.5rem;
					height: 0.5rem;
					background-color: var(--color-dark);
					border-radius: 50%;
					content: "";

					@include mq(sm) {
						top: 0.9rem;
					}
				}
			}
		}
	}

	&__img {
		width: 7rem;
		height: 7rem;
		display: block;
		object-fit: cover;
		margin-bottom: 1.7rem;

		@include mq(sm) {
			width: 5.2rem;
			height: 5.2rem;
			margin-bottom: 1.6rem;
		}
	}

	&__legend {
		display: block;
		margin-bottom: 2.4rem;
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.7rem;

		@include mq(sm) {
			font-size: 1.6rem;
			line-height: 2.4rem;
			margin-bottom: 1.2rem;
		}
	}

	&__txt {
		margin-bottom: 2.4rem;

		@include mq(sm) {
			font-size: 1.4rem;
			line-height: 2.4rem;
			margin-bottom: 1.6rem;
		}
	}

	&__txt-opacity {
		color: var(--color-grey3);
		margin-bottom: 4.8rem;

		@include mq(sm) {
			font-size: 1.4rem;
			line-height: 2.4rem;
			margin-bottom: 2.4rem;
		}
	}

	&__small-legend {
		color: var(--color-grey3);
		display: block;
		margin-bottom: 2.4rem;

		@include mq(sm) {
			font-size: 1.4rem;
			line-height: 2.4rem;
			margin-bottom: 1.1rem;
		}
	}
}
