@import "../_include/variables";
@import "../_include/_mixins/_media";

.invest-table {
	display: flex;
	align-items: flex-start;
	margin-top: 3.2rem;
	background-color: var(--color-dark);
	border-radius: 1rem;
	padding: 4rem 9.2rem 4.2rem 3.8rem;

	@include mq(md) {
		margin-top: 1.6rem;
		padding: 3.2rem;
	}

	@include mq(sm) {
		flex-direction: column;
		align-items: flex-start;
		padding: 2.4rem 1.6rem;
	}

	&.mob-bg {
		background-color: var(--color-dark-blue);
	}

	&__icon {
		display: block;
		width: 4.8rem;
		height: 4.8rem;
		fill: var(--color-purple);

		@include mq(sm) {
			width: 3.2rem;
			height: 3.2rem;
		}
	}

	&__icon-wrapper {
		margin-right: 2rem;
		flex-shrink: 0;

		@include mq(sm) {
			margin-bottom: 1.2rem;
			margin-right: 0;
		}
	}

	&__content {
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include mq(md) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__heading {
		display: block;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.7rem;
		color: var(--color-white);
		margin-bottom: 0.8rem;
		max-width: 66.5rem;

		span {
			color: var(--color-green);
		}

		@include mq(sm) {
			font-size: 1.6rem;
			line-height: 2rem;
			margin-bottom: 0.8rem;
		}
	}

	&__text {
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: var(--rgba-white-08);
		max-width: 69.6rem;

		@include mq(md) {
			margin-bottom: 2.4rem;
		}

		@include mq(sm) {
			font-size: 1.4rem;
			line-height: 2.4rem;
			margin-bottom: 1.2rem;
		}
	}

	&__content-link {
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2.7rem;
		color: var(--color-green);
		transition: color var(--transition);

		@include mq(sm) {
			display: block;

			br {
				display: block;
			}
		}

		&:hover {
			color: var(--color-purple);

			.invest-table__content-link-icon {
				fill: var(--color-purple);
			}
		}
	}

	&__content-link-icon {
		display: block;
		margin-left: 1rem;
		fill: var(--color-green);
		transition: fill var(--transition);

		@include mq(sm) {
			display: inline;
			margin-left: 0.7rem;
			transform: translateY(0.3rem);
		}
	}

	&__links {
		display: flex;
		align-items: center;

		@include mq(sm) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__link {
		margin-right: 6rem;

		&:last-child {
			margin-right: 0;
		}

		@include mq(sm) {
			margin-right: 0;
			margin-bottom: 1.6rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__link-heading {
		display: block;
		margin-bottom: 0.9rem;
		color: var(--color-grey2);
		font-size: 1.3rem;
		line-height: 1.9rem;
	}

	&__content-btn {
		width: 26rem;

		@include mq(md) {
			margin-top: 3.2rem;
		}
	}
}

.where-pay__invest-table {
	.invest-table {
		padding: 4rem 10.4rem 4.2rem 2.7rem;
	}

	.invest-table__heading {
		margin-bottom: 2.1rem;
	}

}
