@import "../_include/variables";
@import "../_include/_mixins/_media";

.open-info {
	&__container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 32px;

		@include mq(md) {
			gap: 24px;
		}

		@include mq(sm) {
			column-gap: 0;
			row-gap: 16px;
		}
	}

	&__link {
		grid-column: 4 span;
		height: 22.5rem;
		border-radius: 0.4rem;
		background-color: var(--color-grey-bg);
		padding: 2.4rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		transition: background-color var(--transition);

		@include mq(md) {
			grid-column: 6 span;
		}

		@include mq(sm) {
			grid-column: 12 span;
		}

		&:nth-child(2) {
			.open-info__link-img {
				width: 6.1rem;
				object-fit: contain;
			}
		}

		&:hover {
			background-color: var(--color-green-lighter);

			.open-info__link-text {
				text-decoration: underline;
			}
		}
	}

	&__link-img {
		display: block;
		width: 4rem;
		height: 4rem;
		object-fit: cover;
		margin-bottom: 2rem;
	}

	&__link-heading {
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.8rem;
		margin-bottom: 1.2rem;
	}

	&__link-text {
		display: block;
		margin-top: auto;
		color: var(--color-green);
	}
}

.open-info-detail {
	@include mq(md) {
		margin-bottom: 5.6rem;
	}

	@include mq(sm) {
		margin-bottom: 4rem;
	}

	&__section-margin {
		@include mq(md) {
			margin-bottom: 5.6rem;
		}

		@include mq(sm) {
			margin-bottom: 4rem;
		}
	}

	&__section-title {
		@include mq(md) {
			font-size: 2.4rem;
			line-height: 4rem;
			margin-bottom: 3.2rem !important;
		}
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 32px;

		@include mq(sm) {
			gap: 2.4rem;
		}
	}

	&__block-left {
		grid-column: 8 span;

		@include mq(md) {
			grid-column: 12 span;
			order: 2;
		}
	}

	&__block-right {
		grid-column: 4 span;

		@include mq(md) {
			grid-column: 12 span;
			order: 1;
		}
	}

	&__small-legend {
		margin-bottom: 3.2rem;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.1rem;
		letter-spacing: 0.02em;
	}

	&__nav {
		@include mq(md) {
			display: none;
		}
	}

	&__nav-item {
		margin-bottom: 2.4rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__nav-link {
		font-weight: 500;
		transition: color var(--transition);

		&:hover {
			color: var(--color-green);
		}


		&.is-active {
			color: var(--color-green);
		}
	}

	&__legend {
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 3.2rem;
		margin-bottom: 3.2rem;

		@include mq(sm) {
			font-size: 2rem;
			line-height: 2.8rem;
			margin-bottom: 2.4rem;
		}
	}

	&__link {
		position: relative;
		display: flex;
		align-items: flex-start;
		padding: 1.8rem 1.6rem 1.6rem;
		border-radius: 1rem;
		background-color: var(--color-grey-bg);
		transition: box-shadow var(--transition), background-color var(--transition);

		&:hover {
			background-color: var(--color-green-lighter) !important;
			// z-index: 2;
			// box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
		}

		&:nth-of-type(even) {
			background-color: transparent;
		}

		@include mq(md) {
			padding: 2.4rem 1.6rem;
		}
	}

	&__link-icon {
		flex-shrink: 0;
		display: block;
		width: 1.8rem;
		height: 2.2rem;
		margin-right: 1.6rem;

		@include mq(md) {
			width: 4rem;
			height: 5rem;
			margin-right: 3rem;
		}

		@include mq(sm) {
			margin-right: 1.2rem;
		}
	}

	&__link-heading {
		display: block;
		font-weight: 500;
		max-width: 65.2rem;
		margin-bottom: 0.7rem;

		@include mq(sm) {
			font-size: 1.2rem;
			line-height: 1.4rem;
		}
	}

	&__link-info {
		display: block;
		font-size: 1.2rem;
		line-height: 1.6rem;
		color: var(--color-grey2);
	}

	&__link-size {
		position: absolute;
		top: 1.8rem;
		right: 1.6rem;
		font-size: 1.2rem;
		line-height: 1.6rem;
		color: var(--color-grey2);

		@include mq(sm) {
			position: static;
			display: block;
			margin-top: 1.2rem;
		}
	}

	&__btn-more {
		color: var(--color-green);
		transition: color var(--transition);
		margin: 1.8rem 0 4.8rem;
		cursor: pointer;

		&:hover {
			color: var(--color-green-light);
			text-decoration: underline;
		}

		@include mq(md) {
			margin-top: 2.4rem 0 4rem;
		}
	}

	&__bock-legend {
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.4rem;
		margin-bottom: 2.4rem;
	}

	&__content-block {
		margin-bottom: 7.2rem;

		&:nth-last-of-type(1) {
			margin-bottom: 0;

			.open-info-detail__btn-more:nth-last-of-type(1) {
				margin-bottom: 0;
			}
		}

		@include mq(md) {
			margin-bottom: 5.6rem;
		}

		@include mq(sm) {
			margin-bottom: 4rem;
		}
	}

	&__file {
		width: 100%;
		margin-bottom: 3.2rem;
	}

	&__info-list {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		gap: 32px;
		margin-bottom: 5.6rem;

		@include mq(md) {
			column-gap: 24px;
			margin-bottom: 0;
		}

		@include mq(sm) {
			column-gap: 0;
			row-gap: 16px;
		}
	}

	&__info-item {
		grid-column: 4 span;

		@include mq(sm) {
			grid-column: 8 span;
		}
	}

	&__info-item-small-legend {
		display: block;
		margin-bottom: 1.2rem;
		color: var(--color-grey3);

		@include mq(sm) {
			font-size: 1.4rem;
			line-height: 2.4rem;
			margin-bottom: 0.4rem;
		}
	}

	&__info-item-legend {
		display: block;
		font-weight: 500;

		@include mq(sm) {
			font-size: 1.4rem;
			line-height: 2.4rem;
		}
	}

	&__mobile-heading {
		@include mq(md) {
			display: none;
		}
	}

	&__mobile-select {
		.choices__inner {
			padding: 3.2rem 2.4rem !important;
			height: 8.6rem;
			background-color: var(--color-grey-bg);
			border-radius: 1.2rem;
			border: none;

			@include mq(sm) {
				padding: 2.4rem 1.6rem !important;
				height: 7.2rem;
			}
		}

		.choices__list--single,
		.choices__placeholder {
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.1rem;
			letter-spacing: 0.02em;
			font-family: var(--second-ff);
			text-transform: none;
			opacity: 1;

			@include mq(sm) {
				font-size: 1.6rem;
				line-height: 2.4rem;
			}
		}

		@include mq(md, min) {
			display: none;
		}
	}
}
