@import "../_include/variables";
@import "../_include/_mixins/_media";


.partners {
	padding: 8rem 0;
	background-color: var(--color-grey-bg);
	padding-top: 8.8rem;

	@include mq(sm) {
		padding: 4rem 0;
	}

	&__heading-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 5.2rem;

		@include mq(md) {
			margin-bottom: 3.2rem;
		}

		@include mq(sm) {
			margin-bottom: 2.4rem;
		}
	}

	&__nav {
		@include mq(sm) {
			display: none;
		}
	}

	&__nav-btn {
		background-color: var(--color-white);

		&:hover {
			.partners__nav-btn-icon {
				stroke: var(--color-green);
			}
		}
	}

	&__nav-btn-icon {
		fill: none;
		stroke: var(--color-dark);
		transition: stroke var(--transition);
	}

	&__btn {
		padding: 1.8rem 3.7rem;
	}

	&__slider {
		display: flex;
		margin-bottom: 4.8rem;

		.swiper-wrapper {
			height: auto;
		}

		@include mq(md) {
			margin-bottom: 3.2rem;
		}

		@include mq(sm) {
			margin-bottom: 2.4rem;
		}
	}

	&__item {
		height: 100%;
		flex-shrink: 0;
		background-color: var(--color-white);
		padding: 4.8rem 3.2rem;
		border-radius: 1rem;
		width: 31.8rem;

		@include mq(sm) {
			padding: 2.4rem 1.6rem;
		}

		ul {
			margin-top: 1.4rem;
			margin-bottom: 1.4rem;

			li {
				margin-bottom: 0.8rem;
				font-size: 1.5rem;
				line-height: 2.3rem;

				a {
					color: var(--color-green);
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}

				}

				span {
					display: block;
					font-size: 1.3rem;
					line-height: 1.6rem;
					color: var(--color-grey3);
				}
			}
		}

		p:not(.partners__text) {
			margin-bottom: 1.2rem;
			font-size: 1.5rem;
			line-height: 2.3rem;

			&:nth-last-of-type(1) {
				margin-bottom: 0;
			}
		}
	}

	&__img {
		max-width: 11.9rem;
		display: block;
		margin-bottom: 2.5rem;
		height: 2.7rem;
		object-fit: contain;

		@include mq(sm) {
			margin-bottom: 1.2rem;
		}
	}

	&__text {
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2.4rem;
		font-family: var(--second-ff);
		letter-spacing: 0.02em;

		@include mq(sm) {
			font-size: 1.4rem;
			line-height: 2.4rem;
			letter-spacing: 0.02em;
		}
	}
}
