@import "../_include/variables";
@import "../_include/_mixins/_media";

.pay-stores {
	&__heading {
		margin-bottom: 3.2rem;

		@include mq(sm) {
			margin-bottom: 1.2rem;
		}
	}

	&__heading-text {
		max-width: 71.3rem;
		font-size: 1.8rem;
		line-height: 2.7rem;

		margin-bottom: 2.4rem;

		&:nth-last-of-type(1) {
			margin-bottom: 4.8rem;
		}

		@include mq(sm) {
			font-size: 1.6rem;
			line-height: 2.4rem;

			&:nth-last-of-type(1) {
				margin-bottom: 2.4rem;
			}
		}
	}

	&__selects-container {
		position: relative;
		z-index: 4;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 32px;
		margin-bottom: 3.2rem;

		@include mq(md) {
			column-gap: 24px;
		}

		@include mq(sm) {
			gap: 16px 0;
			margin-bottom: 2.4rem;
		}
	}

	&__select {
		grid-column: 6 span;

		@include mq(sm) {
			grid-column: 12 span;
		}
	}

	&__map {
		position: relative;
		z-index: 2;
		height: 75rem;
		background-color: var(--color-grey-bg);

		@include mq(sm) {
			height: auto;
			background-color: var(--color-white);
		}
	}

	&__map-container {
		display: flex;
		justify-content: flex-end;
		padding-top: 14rem;

		@include mq(sm) {
			display: block;
			padding-top: 0;
			padding-bottom: 4rem;
		}

		.map__mobile-link {
			@include mq(sm) {
				padding-left: 3.1rem;
			}
		}

		.map__content {
			padding: 3.2rem;

			@include mq(sm) {
				padding: 2.4rem 1.6rem;
			}
		}

		.map__heading {
			margin-bottom: 2.2rem;
		}

		.map__working-time-list {
			margin-bottom: 2.4rem;
			padding-left: 3.1rem;
		}

		.map__working-time {
			padding-left: 3.1rem;
		}

		.map__link {
			margin-bottom: 2.4rem;
		}

		.map__working-time-day {
			margin-right: 1rem;
		}

		.map__adress {
			margin-bottom: 2.4rem;
		}
	}
}
