@import "../_include/variables";
@import "../_include/_mixins/_media";


.pifs {
	margin-bottom: 12.2rem;

	@include mq(md) {
		margin-bottom: 8rem;
	}

	@include mq(sm) {
		margin-bottom: 4rem;
	}

	&__intro-img {
		@include mq(md) {
			bottom: -5rem;
			right: -7rem;
		}
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 32px;

		@include mq(md) {
			column-gap: 0;
			row-gap: 24px;
		}
	}

	&__item {
		position: relative;
		grid-column: 6 span;
		background-color: var(--color-dark-blue);
		border-radius: 1rem;
		padding: 4.8rem;

		@include mq(md) {
			grid-column: 12 span;
		}

		@include mq(sm) {
			padding: 3.2rem 1.6rem;
		}

		&:hover {
			.pifs__link-name {
				text-decoration: underline;
			}
		}

		&:nth-child(2) {
			.pifs__img {
				bottom: 2.5rem;
				right: 8.8rem;
				width: 10rem;
				height: 15.7rem;
			}
		}
	}

	&__legend {
		display: block;
		max-width: 33.5rem;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 3.6rem;
		font-family: var(--second-ff);
		color: var(--color-white);
		margin-bottom: 2.4rem;

		@include mq(sm) {
			font-size: 2rem;
			line-height: 2.8rem;
		}
	}

	&__link-name {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2.7rem;
		color: var(--color-green);
	}

	&__img {
		display: block;
		position: absolute;
		bottom: 0;
		right: 6.8rem;
		width: 13.5rem;
		height: 21.1rem;

		@include mq(sm) {
			display: none;
		}
	}
}


.pifs-feautures {
	&__heading {
		margin-bottom: 1.6rem;

		&._margin {
			margin-bottom: 6.4rem;
		}

		@include mq(md) {
			margin-bottom: 4rem !important;
		}

		@include mq(sm) {
			margin-bottom: 2.4rem !important;
		}
	}

	&__text {
		font-size: 1.8rem;
		line-height: 2.7rem;
		max-width: 73rem;
		margin-bottom: 9.6rem;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 32px;

		@include mq(md) {
			column-gap: 0;
			row-gap: 24px;
		}
	}

	&__item-wrapper {
		grid-column: 4 span;
		padding: 3.2rem 2.4rem;
		background-color: var(--color-grey-bg);
		border-radius: 1rem;

		@include mq(md) {
			grid-column: 12 span;
		}

		@include mq(sm) {
			padding: 3.2rem 1.6rem;
		}

		.pifs-feautures__item {
			grid-column: none;
			margin-bottom: 2.4rem;

			@include mq(sm) {
				flex-direction: column;
				align-items: flex-start;
				margin-bottom: 1.2rem;
			}
		}
	}

	&__item {
		grid-column: 3 span;
		display: flex;
		align-items: center;
	}

	&__item-text-bottom {
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: var(--color-grey3);
		max-width: 33.6rem;

		@include mq(md) {
			max-width: 90%;
		}

		@include mq(sm) {
			font-size: 1.4rem;
			line-height: 2.4rem;
		}
	}

	&__item-img {
		display: block;
		object-fit: cover;
		width: 7rem;
		height: 7rem;
		margin-right: 1.9rem;

		@include mq(sm) {
			margin-bottom: 2.4rem;
			margin-right: 0;
		}
	}

	&__item-text {
		display: block;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2.4rem;
		max-width: 19.2rem;

		@include mq(md) {
			font-size: 2.4rem;
			line-height: 3.2rem;
			max-width: 100%;
		}

		@include mq(sm) {
			font-size: 1.6rem;
			line-height: 2.4rem;
		}
	}
}
