section.section_small-margin.intro-small._type2.materials__intro
	.site-container.intro-small__container
		+breadcrumbs([['Главная', "/local/html/index.html"], ['Начинающему инвестору']])(class="intro-small__breadcrumbs")
		h1.intro-small__heading
			|	Полезные материалы для&nbsp;инвестора
		img(class="intro-small__img" src="/local/assets/img/intro-block/book.svg", alt="Полезные материалы для инвестора")
