section.intro(style="background-image: url(/local/assets/img/intro-abb-bg.svg)")
	.site-container.intro__container
		.intro-slider
			.intro-slider__item
				img(class="intro-slider__img _type2" src="/local/assets/img/pifs/intro-img2.svg", alt="Инвестиции с «Ак Барс Капитал»")
				h1.intro__heading.intro-heading
					|	Открытые паевые инвестиционные фонды

				p.intro__text
					|	Простой путь к инвестированию на фондовом рынке для каждого

				a.button.button-reset.intro__btn(href="/")
					|	Начать инвестировать

+linkCSS("intro-block")
