+linkCSS("pifs")

section.pifs-feautures.section
	.site-container.pifs-feautures__container
		h2.pifs-feautures__heading.second-title
			span
				|	Преимущества
			|	ПИФ
		p.pifs-feautures__text
			|	Паевые фонды удивительным образом вобрали в себя все ключевые преимущества других способов инвестирования, став по-настоящему удобным продуктом:
		.pifs-feautures__list.mod-box
			.pifs-feautures__item-wrapper
				.pifs-feautures__item
					img.pifs-feautures__item-img(src="/local/assets/img/pifs/pifs-feautures-icon1-purple.svg", alt="")
					span.pifs-feautures__item-text
						|	Профессиональное управление активами
				p.pifs-feautures__item-text-bottom
					|	Вы можете начать инвестировать в любой открытый фонд с минимальной суммой
			.pifs-feautures__item-wrapper
				.pifs-feautures__item
					img.pifs-feautures__item-img(src="/local/assets/img/pifs/pifs-feautures-icon4.svg", alt="")
					span.pifs-feautures__item-text
						|	Безопасность владенияактивами
				p.pifs-feautures__item-text-bottom
					|	Выплата осуществляется в течение 10 (десяти) рабочих дней со дня погашения инвестиционных паев
			.pifs-feautures__item-wrapper
				.pifs-feautures__item
					img.pifs-feautures__item-img(src="/local/assets/img/pifs/pifs-feautures-icon3-green.svg", alt="")
					span.pifs-feautures__item-text
						|	Гибкие условия инвестирования
				p.pifs-feautures__item-text-bottom
					|	Управляющая компания раскрывает информацию о стоимости чистых активов и расчетной стоимости инвестиционного пая
