+linkCSS("staff")

section.section.staff
	.site-container.staff-detailed__container
		.staff-detailed__block
			.staff-detailed__content
				span.staff-detailed__small-legend
					|	Дата назначения на должность
				p
					|	17.01.2019

				span.staff-detailed__small-legend
					|	Образование
				ul
					li
						|	Казанский государственный медицинский университет по специальности «лечебное дело» (2003 г.);
					li
						|	Казанский финансово-экономический институт по специальности «менеджмент» (2007 г.);
					li
						|	Колорадский государственный университет, ученая степень МВА (США, 2012 г.);
					li
						|	Частное образовательное учреждение высшего образования "Казанский инновационный университет имени В.Г. Тимирясова (ИЭУП) "юриспруденция" (2017г.)

				span.staff-detailed__small-legend
					|	Трудовой опыт

				ul
					li
						|	Государственное учреждение - региональное отделение Фонда социального страхования Российской Федерации по Республике Татарстан, г. Казань Управляющий, 2011 г. по 2018 г.;
					li
						|	ООО УК «АК БАРС КАПИТАЛ» Временно исполняющий обязанности Генерального директора с 16.12.2018г. по 16.01.2019г.;
					li
						|	Генеральный директор 17.01.2019 г. по настоящее время

		.staff-detailed__block
			img.staff-detailed__img(src="/local/assets/img/staff/img0.jpg", alt="")
			a.site-link.staff-detailed__link(href="mailto:rrg@akbars-capital.ru")
				+icon("email")(class="site-link__icon")
				|	rrg@akbars-capital.ru
