+linkCSS("staff")

section.section.staff
	.site-container.staff-detailed__container
		.staff-detailed__block
			.staff-detailed__content
				span.staff-detailed__small-legend
					|	Дата назначения на должность
				p
					|	17.01.2019

				span.staff-detailed__small-legend
					|	Образование
				ul
					li
						|	Казанский государственный медицинский университет по&nbsp;специальности &laquo;лечебное дело&raquo; (2003&nbsp;г.);
					li
						|	Казанский финансово-экономический институт по&nbsp;специальности &laquo;менеджмент&raquo; (2007&nbsp;г.);
					li
						|	Колорадский государственный университет, ученая степень МВА (США, 2012&nbsp;г.);
					li
						|	Частное образовательное учреждение высшего образования &laquo;Казанский инновационный университет имени В.Г. Тимирясова (ИЭУП) &laquo;юриспруденция&raquo; (2017г.)

				span.staff-detailed__small-legend
					|	Трудовой опыт

				ul
					li
						|	Государственное учреждение&nbsp;&mdash; региональное отделение Фонда социального страхования Российской Федерации по&nbsp;Республике Татарстан, г. Казань Управляющий, 2011&nbsp;г.&nbsp;по&nbsp;2018&nbsp;г.;
					li
						|	ООО УК&nbsp;&laquo;АК&nbsp;БАРС КАПИТАЛ&raquo; Временно исполняющий обязанности Генерального директора с&nbsp;16.12.2018г.&nbsp;по&nbsp;16.01.2019г.;
					li
						|	Генеральный директор 17.01.2019&nbsp;г.&nbsp;по&nbsp;настоящее время

		.staff-detailed__block
			img.staff-detailed__img(src="/local/assets/img/staff/img0.jpg", alt="")
			a.site-link.staff-detailed__link(href="mailto:rrg@akbars-capital.ru")
				+icon("email")(class="site-link__icon")
				|	rrg@akbars-capital.ru
