section.intro-small.section_small-margin.stuff-detailed-intro
	.site-container.intro-small__container
		+breadcrumbs([['Главная', "/local/html/index.html"], ['Раскрытие информации', "/local/html/index.html"], ["Информация о сотрудниках управляющей компании"]])(class="intro-small__breadcrumbs")
		h1.intro-small__heading._small-font
			|	Гайзатуллин Рамиль Ринатович
		p.intro-small__text
			|	Генеральный директор
