main.page-main.main
	section.error-page
		.site-container.error-page__container
			img(src="/local/assets/img/error.svg", alt="" class="error-page__img")
			h1.error-page__heading
				|	Такой страницы больше нет или она никогда не существовала.
			p
				|	Стать инвестором может каждый
			a.button.error-page__btn(href="/")
				|	 Вернуться на Главную
