+linkCSS("review-content")

-
	let n = 0
	let file_arr = [
		{
			name: "Ежедневный обзор рынка за 19 октября 2017 года",
			filePath: "/local/include/files/obzor_rynka_19.10.17.pdf",
			size: "691 Kb"
		},
		{
			name: "Ежедневный обзор рынка за 18 октября 2017 года",
			filePath: "/local/include/files/obzor_rynka_18.10.17(1).pdf",
			size: "640 Kb"
		},
		{
			name: "Ежедневный обзор рынка за 17 октября 2017 года",
			filePath: "/local/include/files/obzor_rynka_17.10.17.pdf",
			size: "640 Kb"
		}
	]

section.section.review-content
	.site-container.review-content__container
		// убрать класс visually-hidden если нужен блок
		.review-content__nav.visually-hidden
			span
				|	Обзоры рынков за период:
			.review-content__select
				select(name="period" class="js-custom-select")
					while n<3
						option(value="ноября 2021 - декабрь 2021")
							|	ноября 2021 - декабрь 202#{n++}
		.review-content__list
			for item in file_arr
				a.file.file-small.review-content__item(href=item.filePath download)
					.file-small__wrapper
						<svg class="file__icon" width="44" height="54" viewBox="0 0 44 54" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.12354 47V7C2.12354 4.23858 4.36212 2 7.12354 2H24.7955C26.1618 2 27.4685 2.55908 28.412 3.54729L40.74 16.4599C41.628 17.3901 42.1235 18.6266 42.1235 19.9126V47C42.1235 49.7614 39.885 52 37.1235 52H7.12354C4.36211 52 2.12354 49.7614 2.12354 47Z" stroke="#00B2A9" stroke-width="3"/>
							<path d="M26.4094 2V12.7143C26.4094 15.4757 28.648 17.7143 31.4094 17.7143H42.1237" stroke="#00B2A9" stroke-width="3"/>
							<rect x="2" y="25.4568" width="40.1235" height="18.5185" fill="#00B2A9"/>
							<path d="M9.86367 35.992V40.3269H7.83643V28.6603H12.2996C13.603 28.6603 14.6366 28.9995 15.4005 29.6779C16.1698 30.3563 16.5544 31.2538 16.5544 32.3702C16.5544 33.5134 16.1778 34.4028 15.4246 35.0385C14.6767 35.6742 13.627 35.992 12.2755 35.992H9.86367ZM9.86367 34.3654H12.2996C13.0207 34.3654 13.5709 34.1971 13.9502 33.8606C14.3295 33.5187 14.5191 33.0273 14.5191 32.3862C14.5191 31.7559 14.3268 31.2538 13.9422 30.8798C13.5576 30.5006 13.0287 30.3056 12.3557 30.2949H9.86367V34.3654Z" fill="white"/>
							<path d="M18.3332 40.3269V28.6603H21.7787C22.8097 28.6603 23.7232 28.89 24.5191 29.3494C25.3204 29.8088 25.9401 30.4605 26.3781 31.3045C26.8161 32.1485 27.0351 33.1154 27.0351 34.2052V34.7901C27.0351 35.8959 26.8135 36.8681 26.3701 37.7068C25.932 38.5454 25.3044 39.1918 24.4871 39.6459C23.6751 40.0999 22.7429 40.3269 21.6906 40.3269H18.3332ZM20.3605 30.2949V38.7084H21.6826C22.7456 38.7084 23.5603 38.3772 24.1265 37.7148C24.6981 37.047 24.9892 36.0908 24.9999 34.8462V34.1971C24.9999 32.9311 24.7248 31.9642 24.1746 31.2965C23.6244 30.6288 22.8257 30.2949 21.7787 30.2949H20.3605Z" fill="white"/>
							<path d="M35.7771 35.383H31.0816V40.3269H29.0544V28.6603H36.4662V30.2949H31.0816V33.7644H35.7771V35.383Z" fill="white"/>
						</svg>
						div
							span.file__name._max-width=item.name
							span.file__size=item.size
					.file-small__link-name
						|	Смотреть обзор
						+icon("link-open-icon")(width="13" height="13" class="file-small__link-name-icon")
		// убрать класс visually-hidden если нужен блок
		ul.pagination.visually-hidden
			li.pagination__item
				a.pagination__link.is-active(href="/")
					| 	1
			li.pagination__item
				a.pagination__link(href="/")
					| 	2
			li.pagination__item
				a.pagination__link(href="/")
					| 3
			li.pagination__item
				a.pagination__link(href="/")
					| 4

+linkJs("initSelects")
