section.section_small-margin.intro-small._type2
	.site-container.intro-small__container
		+breadcrumbs([['Главная', "/local/html/index.html"],['Пресс-центр', "/local/html/index.html"], ['Обзоры рынка']])(class="intro-small__breadcrumbs")
		h1.intro-small__heading
			|	Обзоры рынка
		p.intro-small__text
			|	Все самые свежие события и новости рынка
		img(class="intro-small__img" src="/local/assets/img/intro-block/plashki.svg", alt="Полезные материалы для инвестора")
