+linkCSS("intro-block")
+linkCSS("investor-intro")

section.intro.investor-intro
	.site-container.intro__container
		.intro-slider
			.intro-slider__item
				img(class="intro-slider__img investor-intro__img" src="/local/assets/img/intro-block/man-with-charts.svg", alt="Инвестиции с «Ак Барс Капитал»")
				h1.intro__heading.intro-heading2
					|	Институциональные инвесторы

				p.intro__text2
					|	Компания имеет значительный опыт доверительного управления активами институциональных инвесторов

				button.button.button-reset.intro__btn(href="/" data-path="callback")
					|	Получить консультацию

