+linkCSS("investor-content")

section.investor-content.section
	.site-container.investor-content__container
		h2.investor-content__heading.second-title
			|	Нашими клиентами являются
		.investor-content__list
			.investor-content__item
				img(src="/local/assets/img/pifs/pifs-feautures-icon1-purple.svg", alt="" class="investor-content__img")
				span.investor-content__legend
					|	Фонды целевого капитала
				p.investor-content__txt
					|	Фонд целевого капитала, предназначенный для использования в некоммерческих целях, как правило, для финансирования организаций образования, медицины, культуры. ООО УК «АК БАРС КАПИТАЛ» оказывает услуги по управлению средствами эндаументов (фондов целевого капитала) в строгом соответствии с требованиями Федерального закона 275-ФЗ «О порядке формирования и использования целевого капитала некоммерческих организаций».
				p.investor-content__txt-opacity
					|	 Мы помогаем клиентам создать источник долгосрочного финансирования и максимально эффективное использование средств благотворительности.
				span.investor-content__small-legend
					|	Наши клиенты:
				img(src="/local/assets/img/investor-content/icon1.svg", class="investor-content__img-logo" alt="")
			.investor-content__item
				img(src="/local/assets/img/pifs/pifs-feautures-icon3-green.svg", alt="" class="investor-content__img")
				span.investor-content__legend
					|	НПФ
				p.investor-content__txt
					|	ООО УК «АК БАРС КАПИТАЛ» предлагает услугу управления активами негосударственных пенсионных фондов:
				ul
					li
						|	доверительное управление средствами пенсионных накоплений;
					li
						|	доверительное управление средствами пенсионных резервов;
					li
						|	доверительное управление имуществом для обеспечения уставной деятельности

				p.investor-content__txt-opacity
					|	 Инвестиционная деятельность управляющей компании полностью соответствует требованиям законодательства Российской Федерации. Мы с должной тщательностью подходим к выбору инструментов размещения средств негосударственных пенсионных фондов, предлагая стратегию, направленную на минимизацию рисков и сохранение вложенных активов, путем  размещения денежных средств в высоконадежные активы.
				span.investor-content__small-legend
					|	Наши клиенты:
				img(src="/local/assets/img/investor-content/icon2.png", class="investor-content__img-logo" alt="")
			.investor-content__item
				img(src="/local/assets/img/pifs/pifs-feautures-icon2.svg", alt="" class="investor-content__img")
				span.investor-content__legend
					|	Страховые организации
				p.investor-content__txt
					|	Фонд целевого капитала, предназначенный для использования в некоммерческих целях, как правило, для финансирования организаций образования, медицины, культуры.
				ul
					li
						|	доверительное управление средствами страховых резервов;
					li
						|	доверительное управление собственными средствами.
				p.investor-content__txt
					|	Инвестиционной целью Управляющей компании является обеспечение прогнозируемого и сбалансированного по рискам прироста вложенного капитала.

				p.investor-content__txt-opacity
					|	 Принимая во внимание структуру активов, индивидуальные требования страховых компаний, мы предложим для Вашей страховой компании оптимальную стратегию управления, в строгом соответствии с требованиями законодательства Российской Федерации.
				span.investor-content__small-legend
					|	Наши клиенты:
				img(src="/local/assets/img/investor-content/icon3.svg", class="investor-content__img-logo" alt="")
