extends layout/default

block variables
	- const bodyClass = ""
	- const pageTitle = "Агенты ООО УК «АК БАРС КАПИТАЛ»"
	- const siteLang = "ru"
	- const headerClass = "_header-black"

block content
	include pages/agents/main.pug
