extends layout/default

block variables
	- const bodyClass = ""
	- const pageTitle = "«Ак Барс — Консервативный»"
	- const siteLang = "ru"
	- const headerClass = "_header-black"

block content
	include pages/pif-detail/main.pug
