extends layout/default

block variables
	- const bodyClass = ""
	- const pageTitle = "Информация о сотрудниках управляющей компании"
	- const siteLang = "ru"
	- const headerClass = "_header-black"

block content
	include pages/stuff-detailed/main.pug
