+linkCSS("intro-block")

section.intro.intro-breadcrumbs
	.site-container.intro__container
		+breadcrumbs([['Главная', "/local/html/index.html"], ['Где купить']])(class="intro__breadcrumbs")
		.intro-slider
			img(class="intro-slider__img _type2" src="/local/assets/img/intro-block/intro-img-running-man.svg", alt="Инвестиции с «Ак Барс Капитал»")
			h1.intro__heading.intro-heading
				|	Точки продаж

			p.intro__text.mod-small-text
				|	Инвестиционные продукты ООО УК «АК БАРС КАПИТАЛ» можно приобрести более чем в 30 населенных пунктах на территории России и Республики Татарстан.

