+linkCSS("invest-table")

section.section_small-margin
	.site-container
		.invest-table.mob-bg
			.invest-table__icon-wrapper
				+icon("table-icon")(width="48" height="48" class="invest-table__icon")
			.invest-table__content
				.invest-table__content-wrapper
					span.invest-table__heading
						| Вы можете оставить
						span
							|	online заявку
						|	на консультацию или приобретение паев, и наши специалисты свяжутся с Вами.
					.invest-table__links
						.invest-table__link
							span.invest-table__link-heading
								|	Единая справочная
							a.site-link(href="tel:+78435186677")
								+icon("mobile")(class="site-link__icon")
								| 8 (843) 518-66-77
						.invest-table__link
							span.invest-table__link-heading
								|	Единая справочная
							a.site-link(href="mailto: info@akbars-capital.ru")
								+icon("email")(class="site-link__icon")
								| info@akbars-capital.ru
				a.button.invest-table__content-btn(href="/")
					|	 Online-заявка
