+linkCSS("shield")
section.section.shield.shield_dark
	.site-container
		.shield__inner(style="background-image: url(/local/assets/img/shield/abb-dark-bg.svg)")
			img(class="shield__img _type2" src="/local/assets/img/shield/man-shaking-hands.svg" alt="Институциональный инвестор")
			h2.shield__heading.second-title
				|	Предложение агентам о&nbsp;сотрудничестве
			p.shield__text
				|	Продвижению инвестиционных продуктов через
				br
				| сети посредников
			a.shield__link(href="/")
				|	Узнать подробности
				+icon("link-open-icon")(width="13" height="13" class="shield__link-icon")
