+linkCSS("tabs-content")

section.tabs-content.section
	.site-container
		h2.tabs-content__heading.second-title
			|	Где оплатить
		.tabs-content__container.js-tabs-container
			ul.tabs-content__nav
				li.tabs-content__nav-item
					label.tabs-content__nav-label
						input.visually-hidden.js-tab(type="radio" checked name="tab" value="online-pay")
						span.tabs-content__btn
							|	Оплата в интернет-банке
				li.tabs-content__nav-item
					label.tabs-content__nav-label
						input.visually-hidden.js-tab(type="radio" name="tab" value="pay-bankomat")
						span.tabs-content__btn
							|	Оплата в банкоматах
				li.tabs-content__nav-item
					label.tabs-content__nav-label
						input.visually-hidden.js-tab(type="radio" name="tab" value="stock-pay")
						span.tabs-content__btn
							|	Биржевое обращение
				li.tabs-content__nav-item
					label.tabs-content__nav-label
						input.visually-hidden.js-tab(type="radio" name="tab" value="agents-pay")
						span.tabs-content__btn
							|	Агенты УК АК БАРС КАПИТАЛ
			.tabs-content__content-list
				.tabs-content__content.js-tab-content(data-content="online-pay")
					.online-payment
						p.online-payment__heading-text
							|	Если вы пользуетесь услугой дистанционного банковского обслуживания в «АК БАРС» Банке, с 1 июня 2009 года Вы можете без комиссии оплачивать паи открытых ПИФов нашей компании с ее помощью
						h3.online-payment__legend
							|	Какие ПИФы можно оплатить в интернет-банке?
						.online-payment__list
							a.online-payment__link(href="/")
								span.online-payment__link-legend
									|	«АК БАРС- Акции»
								p.online-payment__link-txt
									|	ОПИФ рыночных финансовых инструментов
								span.online-payment__link-name
									|	 Подробнее
							a.online-payment__link(href="/")
								span.online-payment__link-legend
									|	«АК БАРС- Индексный»
								p.online-payment__link-txt
									|	ОПИФ рыночных финансовых инструментов
								span.online-payment__link-name
									|	 Подробнее
							a.online-payment__link(href="/")
								span.online-payment__link-legend
									|	«АК БАРС- Консервативный»
								p.online-payment__link-txt
									|	ОПИФ рыночных финансовых инструментов
								span.online-payment__link-name
									|	 Подробнее
							a.online-payment__link(href="/")
								span.online-payment__link-legend
									|	«Максвэлл Капитал»
								p.online-payment__link-txt
									|	ОПИФ рыночных финансовых инструментов
								span.online-payment__link-name
									|	 Подробнее
						.online-payment__content
							h4
								|	ВАЖНО ЗНАТЬ
							p
								|	Для осуществления платежа необходимо иметь подключенную услугу Дистанционного банковского обслуживания ПАО «АК БАРС» БАНК и пятнадцатизнанчый номер заявки на приобретение инвестиционных паев.

							p
								|	Зачисление инвестиционных паев на ваш лицевой счет произойдет в течение трех рабочих дней после поступления денежных средств на расчетный счет Фонда.

							p
								|	ВНИМАНИЕ! Просим Вас сообщать об оплате паёв, произведенных через Интернет-банк, своему менеджеру по продажам.

							p
								|	Кроме того, вы всегда можете оплатить паи УК «АК БАРС КАПИТАЛ» в любом отделении «АК БАРС» Банка или безналичным переводом с Вашего рублевого счета, открытого в любом другом банке.

				.tabs-content__content.js-tab-content(data-content="pay-bankomat")
					.online-payment
						h3.online-payment__legend
							|	Какие ПИФы можно оплатить в банкоматах?
						.online-payment__list
							a.online-payment__link(href="/")
								span.online-payment__link-legend
									|	«АК БАРС- Акции»
								p.online-payment__link-txt
									|	ОПИФ рыночных финансовых инструментов
								span.online-payment__link-name
									|	 Подробнее
							a.online-payment__link(href="/")
								span.online-payment__link-legend
									|	«АК БАРС- Консервативный»
								p.online-payment__link-txt
									|	ОПИФ рыночных финансовых инструментов
								span.online-payment__link-name
									|	 Подробнее
							a.online-payment__link(href="/")
								span.online-payment__link-legend
									|	«АК БАРС – Индексный»
								p.online-payment__link-txt
									|	ОПИФ рыночных финансовых инструментов
								span.online-payment__link-name
									|	 Подробнее
						.online-payment__content
							h4
								|	Что необходимо для осуществления платежа?
							p
								|	- иметь пластиковую карту ПАО «АК БАРС» БАНКА
								br
								|	- знать пятнадцатизначный номер заявки на приобретение инвестиционных паев.

							h4
								|	Как осуществить оплату паев в банкомате?
							ul
								li
									|	Введите номер заявки на приобретение инвестиционных паев
									span
										|	Например: номер Заявки 139-097-017-1-00019 (пятнадцатизначное число!) в банкомате вводится: 139097017100019.
								li
									|	Укажите сумму
								li
									|	Подтвердите оплату

							p
								|	В случае ошибочного ввода номера заявки платеж не будет осуществлен и инвестиционные паи не будут зачислены на Ваш лицевой счет до выяснения причин ошибочной операции.
							p
								|	В случае, если платеж в счет оплаты инвестиционных паев будет осуществляться не владельцем паев (с расчетного счета или банковской карты другого лица), налоговой базой при расчете налога на доходы физических лиц при погашении инвестиционных паев будет считаться вся сумма, полученная от погашения. В случае оплаты инвестиционных паев самим владельцем налоговой базой является инвестиционный доход.
							p
								|	Просим Вас сообщать о всех довнесениях денежных средств в счет оплаты паев через банкомат своему менеджеру по продажам! В случае возникновения вопросов и для уточнения информации по платежам, Вы можете связаться с сотрудником пункта приема заявок ПАО «АК БАРС» БАНКА, или с отделом продаж ООО УК «АК БАРС КАПИТАЛ».

							p
								b
									|	ВНИМАНИЕ!
								|	 Внесения денежных средств в счет оплаты паев, совершенные через банкоматы ПАО «АК БАРС» БАНК, учитываются следующим образом:

							ul
								li
									|	платежи, совершенные с 18 часов 01 минуты предыдущего дня до 18 часов 00 минут текущего дня, отражаются в Реестре принятых платежей текущего дня;
								li
									|	все совершенные платежи с 18 часов 01 минуты отражаются в Реестре в рабочий день, следующий за днем совершения платежа;
								li
									|	платеж, совершенный в день, предшествующий праздничному или выходному дню, в последний день месяца до 16 часов 00 минут текущего дня, отражается в Реестре текущего дня;
								li
									|	все платежи, совершенные в день, предшествующий праздничному или выходному дню, последний день месяца с 16 часов 01 минуты, отражаются в Реестре в первый рабочий банковский день, следующий за днем совершения платежа.

							p
								|	Напоминаем Вам, что внести денежные средства в счет оплаты инвестиционных паев по-прежнему можно через любую кассу ПАО «АК БАРС» БАНК  или путем безналичного перевода с Вашего рублевого счета, открытого в любом другом банке.

							a(href="/")
								|	 Банкоматы ПАО «АК БАРС» БАНК

							h4
								|	Более подробную информацию можно получить по телефонам:
							ul
								li
									|	пунктов приема заявок ПАО «АК БАРС» БАНК
								li
									|	отдела продаж УК «АК БАРС КАПИТАЛ» —
									a(href="tel:+78435186677")
										|	(843) 518-66-77;
								li
									|	единой справочной ПАО «АК БАРС» БАНК —
									a(href="tel:+78002005303")
										|	8-800-2005-303 (звонок из России бесплатный).
				.tabs-content__content.js-tab-content(data-content="stock-pay")
					.exchange
						p
							|	Паи ряда паевых инвестиционных фондов включены в «Третий уровень списка ценных бумаг» ПАО «Московская биржа» под номерами:
						.exchange__list
							.exchange__item
								h4.exchange__heading
									|	ЗПИКФ "АК БАРС-Перспектива"
								span.exchange__text
									|	Торговый код: RU000A0JPZP8
								span.exchange__text
									|	Правила Фонда: № 0792-75407676 от 19.04.2007
							.exchange__item
								h4.exchange__heading
									|	ЗПИФПИ "АК БАРС-Инвестиции"
								span.exchange__text
									|	Торговый код: RU000A0JPZL7
								span.exchange__text
									|	Правила Фонда: № 1076-58229138 от 08.11.2007
						p
							|	Паи ряда паевых инвестиционных фондов включены в «Некотировальную часть списка ценных бумаг» ПАО «Санкт-Петербургская Биржа» под номерами:
						.exchange__list
							.exchange__item
								h4.exchange__heading
									|	ЗПИФПИ «АК БАРС — Инвестиции»
								span.exchange__text
									|	Торговый код: RU000A0JPZL7
								span.exchange__text
									|	Правила Фонда: № 1076-58229138 от 08.11.2007
						p
							|	Подробную информацию можно получить по телефону
							a(href="tel:+78435186677")
								|	(843) 518-66-77,
							br
							|	а также на официальных сайтах ПАО «Московская биржа»
							a(href="www.moex.com" target="_blank")
								|	www.moex.com;
							br
							|	ПАО «Санкт-Петербургская Биржа»
							a(href="www.spbexchange.ru" target="_blank")
								|	www.spbexchange.ru
				.tabs-content__content.js-tab-content(data-content="agents-pay")
					.agent-tab
						p
							|	Агенты по выдаче, погашению и обмену инвестиционных паев под управлением ООО УК «АК БАРС КАПИТАЛ» в ОПИФ рыночных финансовых инструментов «АК БАРС - Индексный», ОПИФ рыночных финансовых инструментов «АК БАРС - Консервативный», ОПИФ рыночных финансовых инструментов «АК БАРС - Акции», ОПИФ рыночных финансовых инструментов «Максвел Капитал»:
						.agent-tab__item
							img(src="/local/assets/img/logo-white.svg" alt="" class="agent-tab__item-img")
							h4.agent-tab__heading
								|	ПАО «АК БАРС» БАНК
							.agent-tab__row
								.agent-tab__col
									span.agent-tab__small-legend
										|	Полное наименование
									sapn.agent-tab__legend
										|	Акционерный коммерческий банк «АК БАРС» (публичное акционерное общество)
									span.agent-tab__small-legend
										|	Основоной государственный регистрационный номер (ОГРН)
									sapn.agent-tab__legend
										|	1021600000124

									.site-link.agent-tab__link
										+icon("marker")(class="site-link__icon")
										| РФ, 420066, г. Казань, ул. Декабристов, 1
									a.site-link.agent-tab__link.mo-margin(href="tel:+78435193958")
										+icon("mobile")(class="site-link__icon")
										| +7 (843) 519-39-58
								.agent-tab__col
									span.agent-tab__small-legend
										|	Сокращенное наименование
									sapn.agent-tab__legend
										|	ПАО «АК БАРС» БАНК
									span.agent-tab__small-legend
										|	Лицензия на осуществление брокерской деятельности
									sapn.agent-tab__legend
										|	№ 116-03460-100000 от 07.12.2000, выдана ФКЦБ РФ без ограничения срока действия

									a.file-transparent.agent-tab__file(href="/" download)
										<svg class="file__icon" width="44" height="54" viewBox="0 0 44 54" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M2.12354 47V7C2.12354 4.23858 4.36212 2 7.12354 2H24.7955C26.1618 2 27.4685 2.55908 28.412 3.54729L40.74 16.4599C41.628 17.3901 42.1235 18.6266 42.1235 19.9126V47C42.1235 49.7614 39.885 52 37.1235 52H7.12354C4.36211 52 2.12354 49.7614 2.12354 47Z" stroke="#00B2A9" stroke-width="3"/>
											<path d="M26.4094 2V12.7143C26.4094 15.4757 28.648 17.7143 31.4094 17.7143H42.1237" stroke="#00B2A9" stroke-width="3"/>
											<rect x="2" y="25.4568" width="40.1235" height="18.5185" fill="#00B2A9"/>
											<path d="M9.86367 35.992V40.3269H7.83643V28.6603H12.2996C13.603 28.6603 14.6366 28.9995 15.4005 29.6779C16.1698 30.3563 16.5544 31.2538 16.5544 32.3702C16.5544 33.5134 16.1778 34.4028 15.4246 35.0385C14.6767 35.6742 13.627 35.992 12.2755 35.992H9.86367ZM9.86367 34.3654H12.2996C13.0207 34.3654 13.5709 34.1971 13.9502 33.8606C14.3295 33.5187 14.5191 33.0273 14.5191 32.3862C14.5191 31.7559 14.3268 31.2538 13.9422 30.8798C13.5576 30.5006 13.0287 30.3056 12.3557 30.2949H9.86367V34.3654Z" fill="white"/>
											<path d="M18.3332 40.3269V28.6603H21.7787C22.8097 28.6603 23.7232 28.89 24.5191 29.3494C25.3204 29.8088 25.9401 30.4605 26.3781 31.3045C26.8161 32.1485 27.0351 33.1154 27.0351 34.2052V34.7901C27.0351 35.8959 26.8135 36.8681 26.3701 37.7068C25.932 38.5454 25.3044 39.1918 24.4871 39.6459C23.6751 40.0999 22.7429 40.3269 21.6906 40.3269H18.3332ZM20.3605 30.2949V38.7084H21.6826C22.7456 38.7084 23.5603 38.3772 24.1265 37.7148C24.6981 37.047 24.9892 36.0908 24.9999 34.8462V34.1971C24.9999 32.9311 24.7248 31.9642 24.1746 31.2965C23.6244 30.6288 22.8257 30.2949 21.7787 30.2949H20.3605Z" fill="white"/>
											<path d="M35.7771 35.383H31.0816V40.3269H29.0544V28.6603H36.4662V30.2949H31.0816V33.7644H35.7771V35.383Z" fill="white"/>
										</svg>
										div
											span.file__name
												|	Порядок приема заявок в местах приема заявок агента по выдаче, погашению и&nbsp;обмену инвестиционных
											span.file__size
												|	 pdf – 159 Кб


						p
							|	Агенты по выдаче, погашению и обмену инвестиционных паев под управлением ООО УК «АК БАРС КАПИТАЛ» в ОПИФ рыночных финансовых инструментов «АК БАРС - Индексный», ОПИФ рыночных финансовых инструментов «АК БАРС - Консервативный», ОПИФ рыночных финансовых инструментов «Лалэ», ОПИФ рыночных финансовых инструментов «Максвел Капитал»:

						.agent-tab__item
							img(src="/local/assets/img/logo-infinite.svg" alt="" class="agent-tab__item-img")
							h4.agent-tab__heading
								|	АО «Специализированный депозитарий «ИНФИНИТУМ»
							.agent-tab__row
								.agent-tab__col
									span.agent-tab__small-legend
										|	Полное наименование
									sapn.agent-tab__legend
										|	Акционерное общество «Специализированный депозитарий «ИНФИНИТУМ»
									span.agent-tab__small-legend
										|	Основоной государственный регистрационный номер (ОГРН)
									sapn.agent-tab__legend
										|	1021600000124
									span.agent-tab__small-legend
										|	Лицензия на осуществление специализированного депозитария инвестиционных фондов, паевых инвестиционных фондов и негосударственных пенсионных фондов
									sapn.agent-tab__legend
										|	№ 22-000-1-00013 от 04.10.2000, выдана ФКЦБ РФ

									.site-link.agent-tab__link
										+icon("marker")(class="site-link__icon")
										| РФ, 115162, г. Москва, ул. Шаболовка, д. 31, корп. Б
									a.site-link.agent-tab__link(href="tel:+74952523232")
										+icon("mobile")(class="site-link__icon")
										| 8 (495) 252-32-32
									a.site-link.agent-tab__link.mo-margin(href="tel:+74956443770")
										+icon("mobile")(class="site-link__icon")
										| 8 (495) 644-37-70
								.agent-tab__col
									span.agent-tab__small-legend
										|	Сокращенное наименование
									sapn.agent-tab__legend
										|	АО «Специализированный депозитарий «ИНФИНИТУМ»
									span.agent-tab__small-legend
										|	Лицензия на осуществление профессионального участника рынка ценных бумаг на осуществление депозитарной деятельности
									sapn.agent-tab__legend
										|	№ 045-07071-000100 от 31.10.2003, выдана ФКЦБ РФ
									a.file-transparent.agent-tab__file(href="/" download)
										<svg class="file__icon" width="44" height="54" viewBox="0 0 44 54" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M2.12354 47V7C2.12354 4.23858 4.36212 2 7.12354 2H24.7955C26.1618 2 27.4685 2.55908 28.412 3.54729L40.74 16.4599C41.628 17.3901 42.1235 18.6266 42.1235 19.9126V47C42.1235 49.7614 39.885 52 37.1235 52H7.12354C4.36211 52 2.12354 49.7614 2.12354 47Z" stroke="#00B2A9" stroke-width="3"/>
											<path d="M26.4094 2V12.7143C26.4094 15.4757 28.648 17.7143 31.4094 17.7143H42.1237" stroke="#00B2A9" stroke-width="3"/>
											<rect x="2" y="25.4568" width="40.1235" height="18.5185" fill="#00B2A9"/>
											<path d="M9.86367 35.992V40.3269H7.83643V28.6603H12.2996C13.603 28.6603 14.6366 28.9995 15.4005 29.6779C16.1698 30.3563 16.5544 31.2538 16.5544 32.3702C16.5544 33.5134 16.1778 34.4028 15.4246 35.0385C14.6767 35.6742 13.627 35.992 12.2755 35.992H9.86367ZM9.86367 34.3654H12.2996C13.0207 34.3654 13.5709 34.1971 13.9502 33.8606C14.3295 33.5187 14.5191 33.0273 14.5191 32.3862C14.5191 31.7559 14.3268 31.2538 13.9422 30.8798C13.5576 30.5006 13.0287 30.3056 12.3557 30.2949H9.86367V34.3654Z" fill="white"/>
											<path d="M18.3332 40.3269V28.6603H21.7787C22.8097 28.6603 23.7232 28.89 24.5191 29.3494C25.3204 29.8088 25.9401 30.4605 26.3781 31.3045C26.8161 32.1485 27.0351 33.1154 27.0351 34.2052V34.7901C27.0351 35.8959 26.8135 36.8681 26.3701 37.7068C25.932 38.5454 25.3044 39.1918 24.4871 39.6459C23.6751 40.0999 22.7429 40.3269 21.6906 40.3269H18.3332ZM20.3605 30.2949V38.7084H21.6826C22.7456 38.7084 23.5603 38.3772 24.1265 37.7148C24.6981 37.047 24.9892 36.0908 24.9999 34.8462V34.1971C24.9999 32.9311 24.7248 31.9642 24.1746 31.2965C23.6244 30.6288 22.8257 30.2949 21.7787 30.2949H20.3605Z" fill="white"/>
											<path d="M35.7771 35.383H31.0816V40.3269H29.0544V28.6603H36.4662V30.2949H31.0816V33.7644H35.7771V35.383Z" fill="white"/>
										</svg>
										div
											span.file__name
												|	РЕГЛАМЕНТ оказания услуг агента по выдаче, погашению и обмену инвестиционных паев Редакция №4
											span.file__size
												|	 pdf – 159 Кб


+linkJs("tabs")
