+linkCSS("shield")
section.section.shield.shield_dark
	.site-container
		.shield__inner
			img(class="shield__img" src="/local/assets/img/shield/img-ak-bars-run.svg" alt="Точки продаж")
			h2.shield__heading.second-title
				|	Точки продаж
			p.shield__text
				|	Инвестиционные продукты ООО УК «АК БАРС КАПИТАЛ» можно приобрести более чем в 30 населенных пунктах на территории России и Республики Татарстан.
			a.shield__btn.button(href="/")
				|	 Купить online
