section.intro-small
	.site-container.intro-small__container
		+breadcrumbs([['Главная', "/local/html/index.html"], ['Контакты']])(class="intro-small__breadcrumbs")
		h1.intro-small__heading
			|	Контакты и реквизиты
