+linkCSS("map")
section.section_small-margin.map
	<div id="ymap_ctrl_display" style="display: none; width: 100%; height: 100%; position: absolute; background-color: rgba(0, 0, 0, 0.5); z-index: 100; pointer-events: none;">
		<div style="position: relative; top: 50%; left: 0; right: 0; color: white; text-align: center; font-size: 1.6em; pointer-events: none;">Чтобы изменить масштаб, прокручивайте карту, удерживая клавишу Ctrl.</div>
	</div>
	#map.map__map
	.site-container.map__container
		.map__content
			span.map__heading
				|	Офис в Казани на ул. Меридианная
			span.map__adress
				+icon("marker")(class="map__adres-icon" width="24" height="24")
				|	420124, г. Казань, ул. Меридианная, д. 1а

			span.map__working-time
				|	Режим работы
			.map__working-time-list
				.map__working-time-row
					span.map__working-time-day
						| пн-чт
					span.map__working-time-hours
						| 8:30-17:30
				.map__working-time-row
					span.map__working-time-day
						| пт
					span.map__working-time-hours
						| 8:30-16:15,
						br
						| обед 13:00-13:45
				.map__working-time-row
					span.map__working-time-day
						| сб-вс
					span.map__working-time-hours._grey
						| выходной

			a.map__link(href="tel:+78435186677")
				+icon("mobile")(class="map__link-icon")
				| 8 (843) 518-66-77

			a.map__link(href="mailto: info@akbars-capital.ru")
				+icon("email")(class="map__link-icon")
				| info@akbars-capital.ru


			span.map__link._text
				+icon("post-icon")(class="map__link-icon")
				| Для отправки корреспонденции:
				br
				| Татарстан, Казань, ул. Меридианная,
				br
				| д. 1а, ООО УК «АК&nbsp;БАРС&nbsp;КАПИТАЛ»

script(src="https://api-maps.yandex.ru/2.1/?apikey=b0b15954-57af-4901-b78c-0ad5bd94cda8&lang=ru_RU")
+linkJs("map")
