+linkCSS("warning")

section.warning(data-anim-fade)
	.site-container
		.warning__content
			.warning__icon-wrapper
				+icon("warning")(class="warning__icon" width="48" height="48")
			.warning__info
				span.warning__heading
					|	Уважаемые клиенты!
				p.warning__text
					|	Предупреждаем Вас об участившихся случаях мошеннических действий в социальных сетях и сети Интернет, с предложением получения денежных средств от ООО УК "АК БАРС КАПИТАЛ" путем кредитования.
					|	Напоминаем Вам о том, что ООО УК "АК БАРС КАПИТАЛ" не имеет лицензии дающей право выдавать кредиты физическим и юридическим лицам.
				.warning__links
					.warning__links-item
						span.warning__links-legend
							|	Единая справочная
						a.warning__links-link(href="tel:+78435186677")
							+icon("mobile")(class="warning__links-link-icon")
							| 8 (843) 518-66-77
					.warning__links-item
						span.warning__links-legend
							|	Почта для обращений
						a.warning__links-link(href="mailto:")
							+icon("email")(class="warning__links-link-icon")
							| info@akbars-capital.ru


section.warning(data-anim-fade)
	.site-container
		.warning__content
			.warning__icon-wrapper
				+icon("warning")(class="warning__icon" width="48" height="48")
			.warning__info
				span.warning__heading
					|	Уважаемые клиенты!
				p.warning__text
					|	Если вам стало известно о фактах проявления коррупции, личного конфликта интересов, неэтичного поведения со стороны сотрудников управляющей компании мы будем признательны за информирование любым, удобным каналом связи:
				ul
					li
						|	отправка сообщения на электронный адрес:
						a(href="mailto:deontology@akbars-capital.ru")
							|	deontology@akbars-capital.ru
					li
						|	сообщение информации по телефону Начальнику Службы комплаенс-контроля:
						a(href="tel:+78435186677")
							|	+7(843)518-66-77
					li
						|	 письмо на&nbsp;почтовый адрес: Казань, ул. Меридианная, д. 1А, ООО УК&nbsp;&laquo;АК&nbsp;БАРС КАПИТАЛ&raquo;&nbsp;&mdash; Начальнику Службы комплаенс-контроля
