main.page-main.main
	include hero.pug
	include ../../parts/invest-now
	include ../../parts/shield
	include ../../parts/text-block
	include ../../parts/shield-form
	include services
	include ../../parts/news
