+linkCSS("services")

section.section.services
	.site-container.services__container
		h2.services__title.second-title
			|	Услуги и сервисы
		.services__list
			a.services__item(href="/")
				span.services__item-heading
					|	Таблица стоимости Паев
				p.services__item-text
					|	Обучающие ролики, статьи и&nbsp;обзоры рынка от ведущих экспертов и аналитиков рынка
				img.services__item-img(src="/local/assets/img/services/services-img.svg" alt="Таблица стоимости Паев")
			a.services__item(href="/")
				span.services__item-heading
					|	Раскрытие информации
				p.services__item-text
					|	Раскрытие информации в&nbsp;соответствии с&nbsp;нормативно-правовыми актами
				img.services__item-img(src="/local/assets/img/services/services-img2.svg" alt="Таблица стоимости Паев")
			a.services__item(href="/")
				div
					span.services__item-heading
						|	Возврат налогов
					p.services__item-text
						|	Текст в 2-3 строки о пользе инвестиционного калькулятора
					img.services__item-img(src="/local/assets/img/services/services-img3.png" alt="Таблица стоимости Паев")
			a.services__item(href="/")
				span.services__item-heading
					|	Где купить?
				p.services__item-text
					|	Текст в 2-3 строки о местах покупки
				img.services__item-img(src="/local/assets/img/services/services-img4.svg" alt="Таблица стоимости Паев")
			a.services__item(href="/")
				span.services__item-heading
					|	Начинающему инвестору
				p.services__item-text
					|	Новый сервис обучения на&nbsp;уникальном алгоритме от&nbsp;Ак&nbsp;Барс&nbsp;Капитал
				img.services__item-img(src="/local/assets/img/services/services-img5.png" alt="Таблица стоимости Паев")
