- let invest_arr = [{name: "«АК БАРС — Акции»", text: "ОПИФ рыночных финансовых инструментов «Максвелл Капитал»"}, {name: "«АК БАРС — Консервативный»", text: "ОПИФ рыночных финансовых инструментов «Максвелл Капитал»"}, {name: "«АК БАРС — Индексный»", text: "ОПИФ рыночных финансовых инструментов «Максвелл Капитал»"}, {name: "«Лалэ»", text: "ОПИФ рыночных финансовых инструментов «Максвелл Капитал»"}, {name: "«Максвелл-Капитал»", text: "ОПИФ рыночных финансовых инструментов «Максвелл Капитал»"}, {name: "«Юнион-Капитал»", text: "ОПИФ рыночных финансовых инструментов «Максвелл Капитал»"} ]

+linkCSS("invest-now")
+linkCSS("invest-table")

section.invest-now.section_small-margin(data-anim-fade)
	.site-container.invest-now__container
		h2.second-title.invest-now__title
			|	Инвестируйте прямо сейчас
		.invest-now__nav-container
			p.invest-now__text
				|	Подборка готовых решений от экспертов «Ак Барс Капитал»
			.invest-now__list-nav
				button.button-reset.invest-now__btn.js-btn-filter.is-active(data-filter="cards")
					+icon("cadrs-icon")(width="24" height="24" class="invest-now__btn-icon")
					|	Карточки
				button.button-reset.js-btn-filter.invest-now__btn(data-filter="list")
					+icon("list-icon")(width="24" height="24" class="invest-now__btn-icon")
					|	Список
		.invest-now__list.js-invest-list.invest-list.is-cards
			for item in invest_arr
				a.invest-list__item(href="/")
					.invest-list__heading-wrapper
						span.invest-list__heading=item.name
						p.invest-list__text=item.text
					p.invest-list__text=item.text
					.invest-list__percents
						.invest-list__percents-item
							span.invest-list__percents-numbers
								+icon("small-green-triangle")(width="12" height="11" class="invest-list__percents-nubmers-icon")
								|	155,66%
							span.invest-list__percents-time
								|	за 1 год
						.invest-list__percents-item
							span.invest-list__percents-numbers
								+icon("small-green-triangle")(width="12" height="11" class="invest-list__percents-nubmers-icon")
								|	9,64%
							span.invest-list__percents-time
								|	за 1 день
		include invest-table


+linkJs("invest-now")
