+linkCSS("invest-table")

.invest-table
	.invest-table__icon-wrapper
		+icon("table-icon")(width="48" height="48" class="invest-table__icon")
	.invest-table__content
		.invest-table__content-wrapper
			span.invest-table__heading
				| Подготовили подробную
				span
					|	таблицу доходностей фондов
			p.invest-table__text
				|	Перейдите к таблице, чтобы увидеть детальную информацию по результатам работы ПИФ
		a.invest-table__content-link(href="/")
			|	 Перейти на подробную таблицу
			+icon("link-open-icon")(width="18" height="18" class="invest-table__content-link-icon")
