+linkCSS("invest-steps")

section.section.invest-steps(data-anim-fade)
	.site-container.invest-steps__container
		h2.invest-steps__heading.second-title
			|	Шаги для начала
			span
				|	инвестирования
		.invest-steps__list
			.invest-steps__item
				span.invest-steps__step
					|	ШАГ №1
				span.invest-steps__item-heading
					|	Оставьте заявку. Или&nbsp;зарегистрируйтесь в&nbsp;личном&nbsp;кабинете
				img.invest-steps__img(src="/local/assets/img/invest-steps/img1.svg", alt="")
			.invest-steps__item
				span.invest-steps__step
					|	ШАГ №2
				span.invest-steps__item-heading
					|	Выберите фонд и вложите в&nbsp;него&nbsp;деньги
				p.invest-steps__item-text
					|	Вы можете начать с 1 000 ₽ и подключить автоплатеж, чтобы делать регулярные взносы
				img.invest-steps__img(src="/local/assets/img/invest-steps/img2.svg", alt="")
			.invest-steps__item
				span.invest-steps__step
					|	ШАГ №3
				span.invest-steps__item-heading
					|	Следите за динамикой фонда
				p.invest-steps__item-text
					|	Пополняйте счет в личном кабинете и фиксируйте прибыль
				img.invest-steps__img(src="/local/assets/img/invest-steps/img3.svg", alt="")
