-
	let arr_mob = [
		"Паевые фонды",
		"Индивилуальное управление",
		"Пенсионные накопления",
		"Обучение"
	]

	let arr_mob2 = [
		"Доверительное управление",
		"Паевые фонды",
		"Управление активами НПФ и страховых компаний",
		"Управление средствами Саморегулируемых организаций"
	]

	let arr_mob3 = [
		"Офисы продаж",
		"Контакты",
		"Где купить?",
		"О компании",
		"Новости",
		"Пресс-центр",
		"Информация"
	]

.mobile-menu
	.site-container.mobile-menu__container
		.mobile-menu__head
			span.mobile-menu__heading
				|	Меню
			a.mobile-menu__btn.button(href="/")
				|	 Личный кабинет
			button.mobile-menu__close-btn.button-reset
				span
				span
		.mobile-menu__body
			.mobile-menu__body-block
				span.mobile-menu__body-legend
					|	Частным клиентам
				ul.mobile-menu__body-nav
					for item in arr_mob
						li.mobile-menu__body-item
							a.mobile-menu__body-link(href="/")=item
				span.mobile-menu__body-legend
					|	Корпоративным клиентам
				ul.mobile-menu__body-nav
					for item in arr_mob2
						li.mobile-menu__body-item
							a.mobile-menu__body-link(href="/")=item
			.mobile-menu__body-block
				for item in arr_mob3
					a.mobile-menu__body-legend._mb20(href="")=item

				.mobile-menu__body-links
					a.mobile-menu__body-links-tel(href="tel:+")
						|	8 (843) 518-66-77
					span.mobile-menu__body-links-caption
						| Для звонков по России
					button.mobile-menu__body-links-btn.button.button-reset
						|	Онлайн заявка


				ul.social.footer__social.mobile-menu__body-social
					li.social__item
						a.social__link(href="/")
							+icon("vk")(width="24" height="14" class="social__link-icon vk")
					li.social__item
						a.social__link(href="/")
							+icon("inst")(width="22" height="22" class="social__link-icon inst")
					li.social__item
						a.social__link(href="/")
							+icon("ok")(width="13" height="22" class="social__link-icon ok")
					li.social__item
						a.social__link(href="/")
							+icon("fb")(width="20" height="20" class="social__link-icon fb")
					li.social__item
						a.social__link(href="/")
							+icon("tw")(width="22" height="17" class="social__link-icon tw")
					li.social__item
						a.social__link(href="/")
							<svg width="20" height="17" class="social__link-icon tg" viewBox="0 0 20 17" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M7.4928 15.6981C6.8998 15.6981 7.0008 15.4731 6.7958 14.9081L5.0498 9.16409L18.4848 1.19409L7.4928 15.6981Z" fill="#8F8F8F"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M7.49268 15.6981C7.95068 15.6981 8.15268 15.4881 8.40868 15.2401L10.8517 12.8641L7.80468 11.0271" fill="#777777"/>
								<mask id="mask0_71_3553" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="17">
								<path d="M18.5778 0.11L0.929829 6.916C-0.274171 7.398 -0.267171 8.071 0.709829 8.37L5.23983 9.783L15.7228 3.17C16.2178 2.87 16.6718 3.031 16.2988 3.362L7.80383 11.028L15.1868 16.483C15.4568 16.633 15.7038 16.709 15.9218 16.711H15.9348C16.3848 16.708 16.7058 16.377 16.8468 15.701L19.8528 1.539C20.0988 0.555 19.6538 0 19.0568 0C18.9038 0 18.7408 0.036 18.5768 0.11" fill="white"/>
								</mask>
								<g mask="url(#mask0_71_3553)">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M18.5778 0.11L0.929829 6.916C-0.274171 7.398 -0.267171 8.071 0.709829 8.37L5.23983 9.783L15.7228 3.17C16.2178 2.87 16.6718 3.031 16.2988 3.362L7.80383 11.028L15.1868 16.483C15.4568 16.633 15.7038 16.709 15.9218 16.711H15.9348C16.3848 16.708 16.7058 16.377 16.8468 15.701L19.8528 1.539C20.0988 0.555 19.6538 0 19.0568 0C18.9038 0 18.7408 0.036 18.5768 0.11" fill="#B3B3B3"/>
								</g>
							</svg>
