+linkCSS("rights")

section.rights
	.rights__container.site-container
		p.rights__text
			|	Права и обязанности по договору доверительного управления Закрытым паевым инвестиционным фондом недвижимости «АНКОР – фонд недвижимости» переданы Обществу с ограниченной ответственностью "Управляющая компания Простор Инвест" (Лицензия управляющей компании на осуществление деятельности по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными пенсионными фондами от "27" мая 2019 г. № 21-000-1-01023, предоставленная Центральным Банком Российской Федерации) 19.02.2021 года.
		button.button-reset.button._black
			|	Ок, я понял
