+linkCSS("shield")
section.section.shield(data-anim-fade)
	.site-container
		.shield__inner
			img(class="shield__img" src="/local/assets/img/shield/banner-img3.svg" alt="Институциональный инвестор")
			h2.shield__heading.second-title
				|	Институциональный инвестор
			p.shield__text
				|	Юридическое лицо, выступающее в роли держателя денежных средств и осуществляющее их вложение в ценные бумаги, недвижимое имущество с целью извлечения прибыли.
			a.shield__btn.button(href="/")
				|	 Перейти
