+linkCSS("text-block")

section.text-block.section
	.site-container.text-block__container
		h2.text-block__title.second-title
			|	Нам
			span
				|	можно доверять
		p.text-block__hedaing-text
			| Управляющая компания &laquo;АК&nbsp;БАРС КАПИТАЛ&raquo; основана в&nbsp;2002 году и&nbsp;сегодня является одной из&nbsp;крупнейших управляющих компаний России.
		ul.text-block__list
			li.text-block__item
				span.text-block__item-heading
					|	№1
				p.text-block__item-text
					|	Лучшая управляющая компания Поволжья и&nbsp;Поволжского федерального округа
			li.text-block__item
				span.text-block__item-heading
					|	А+|ru.am|
				p.text-block__item-text
					|	Некридитный рейтинг надежности и&nbsp;качества услуг среди&nbsp;УК, прогноз &laquo;Стабильный&raquo;
			li.text-block__item
				span.text-block__item-heading
					|	54 млрд.
				p.text-block__item-text
					|	Стоимость чистых активов более 54&nbsp;миллиарда рублей
			li.text-block__item
				span.text-block__item-heading
					|	7 место
				p.text-block__item-text
					|	Среди крупнейших&nbsp;УК по&nbsp;объему песнионных накоплений переданных в&nbsp;управление
			li.text-block__item
				span.text-block__item-heading
					|	6 место
				p.text-block__item-text
					|	Среди крупнейших&nbsp;УК по&nbsp;объему активов в&nbsp;ЗПИФах
			li.text-block__item
				span.text-block__item-heading
					|	23 место
				p.text-block__item-text
					|	Среди крупнейших&nbsp;УК по&nbsp;объему средств в&nbsp;управлении
