section.section_small-margin.intro-small._type2
	.site-container.intro-small__container
		+breadcrumbs([['Главная', "/local/html/index.html"], ['Пресс-центр', "/local/html/index.html"], ['Новости']])(class="intro-small__breadcrumbs")
		h1.intro-small__heading
			|	Новости компании
		p.intro-small__text
			|	Все самые свежие события и новости компании
		img(class="intro-small__img" src="/local/assets/img/intro-block/paper.svg", alt="Полезные материалы для инвестора")
