+linkCSS("card")
+linkCSS("news-list")

-
	let news_ar = [
		{
			name: 'Сообщение о регистрации изменений и дополнений в Правила доверительного управления ОПИФ рыночных финансовых инструментов "Максвелл Капитал", "Лалэ", "АК БАРС - Консервативный", "АК БАРС - Индексный"',
			date: '15.01.2020',
			red: true
		},
		{
			name: 'Запуск работы информационной системы ООО УК «АК БАРС КАПИТАЛ» «Личный кабинет пайщика»',
			date: '15.01.2020'
		},
		{
			name: 'Сообщение о регистрации изменений и дополнений в Правила доверительного управления ОПИФ рыночных финансовых инструментов "АК БАРС - Акции"',
			date: '14.02.2020'
		},
		{
			name: 'Мнение наших экспертов',
			date: '23.03.2020'
		},
		{
			name: 'НРА присвоило некредитный рейтинг надежности и качества услуг ООО УК «АК БАРС КАПИТАЛ» «А+»',
			date: '26.03.2020'
		},
		{
			name: 'О работе ООО УК «АК БАРС КАПИТАЛ» в период с 30 марта по 3 апреля 2020 года',
			date: '27.03.2020'
		},
		{
			name: 'Мнение наших экспертов',
			date: '03.04.2020',
			red: true
		},
		{
			name: 'О работе ООО УК «АК БАРС КАПИТАЛ» в период с 06 по 30 апреля 2020 года',
			date: '08.04.2020'
		},
		{
			name: 'О работе ООО УК «АК БАРС КАПИТАЛ» в период с 01 по 11 мая 2020 года',
			date: '30.04.2020'
		},
		{
			name: 'О работе ООО УК «АК БАРС КАПИТАЛ» c 12.05.2020',
			date: '12.05.2020'
		},
		{
			name: 'ООО УК АК БАРС КАПИТАЛ и АИР РТ проведут бесплатный вебинар «Инвестиции согласно шариату»',
			date: '16.06.2020'
		},
		{
			name: 'Важно! Предупреждаем Вас об участившихся случаях мошеннических действий в социальных сетях и сети Интернет',
			date: '03.07.2020'
		},
		{
			name: 'Приостановление функционирования сайта по причине технического сбоя',
			date: '06.08.2020',
			red: true
		},
		{
			name: 'Технические работы на почтовом сервере УК',
			date: '15.10.2020'
		},
		{
			name: 'Важно! Предупреждаем Вас об участившихся случаях мошеннических действий в социальных сетях и сети Интернет',
			date: '05.04.2021'
		},
		{
			name: 'Приостановление функционирования сайта по причине технического сбоя',
			date: '14.10.2021'
		},
		{
			name: 'О работе ООО УК «АК БАРС КАПИТАЛ» в период с 1 ноября по 7 ноября 2021 года',
			date: '29.10.2021',
			red: true
		},
	]


section.section.news-list
	.site-container
		.news-list__container
			for item in news_ar
				.news-list__item
					a.card(href="/")
						.card__top
							span.card__date
								+icon("calendar")(width="18" height="19" class="card__date-icon")
								=item.date
							span.card__feauture(class=item.red ? "_red" : false)
								|	Covid-19
						p.card__content=item.name
						span.card__link-text
							|	Подробнее
		ul.pagination.news-list__pagination
			li.pagination__item
				a.pagination__link.is-active(href="/")
					| 	1
			li.pagination__item
				a.pagination__link(href="/")
					| 	2
			li.pagination__item
				a.pagination__link(href="/")
					| 3
			li.pagination__item
				a.pagination__link(href="/")
					| 4
