+linkCSS("chifs")

section.section.company-contacts(data-anim-fade)
	.site-container.company-contacts__container
		h2.second-title.company-contacts__heading
			|	Контакты
		.company-contacts__list
			a.site-link.company-contacts__link(href="tel:+78435186677")
				+icon("mobile")(class="site-link__icon")
				span
					| 8 (843) 518-66-77
			a.site-link.company-contacts__link(href="mailto:info@akbars-capital.ru")
				+icon("email")(class="site-link__icon")
				span
					| info@akbars-capital.ru
			.site-link.company-contacts__link
				+icon("post-icon")(class="site-link__icon")
				span
					| Для отправки корреспонденции: Татарстан, Казань, ул. Меридианная, д. 1а, ООО УК «АК БАРС КАПИТАЛ»


section.chifs.section(data-anim-fade)
	.site-container.chifs__container
		h2.second-title.chifs__heading
			|	Руководители

		.chifs__list
			.chifs__item
				span.open-info-detail__info-item-small-legend
					|	Генеральный директор
				span.open-info-detail__info-item-legend
					|	Гайзатуллин Рамиль Ринатович
			.chifs__item
				span.open-info-detail__info-item-small-legend
					|	Временно исполняющий обязанности Генерального директора
				span.open-info-detail__info-item-legend
					|	Гайзатуллин Рамиль Ринатович
			.chifs__item
				span.open-info-detail__info-item-small-legend
					|	Генеральный директор
				span.open-info-detail__info-item-legend
					|	Дорогов Алексей Николаевич
		a.chifs__shield(href="/")
			img.chifs__shield-logo(src="/local/assets/img/naufor.png", alt="")
			p.chifs__shield-text
				|	УК «АК БАРС КАПИТАЛ» является членом Национальной Ассоциации Участников Фондового Рынка (НАУФОР) и Ассоциации предприятий малого и среднего бизнеса Республики Татарстан.
			span.chifs__shield-link-name
				|	Подробнее
