+linkCSS("licenses")

section.section.licenses(data-anim-fade)
	.site-container.licenses__container
		h2.licenses__heading.second-title
			|	Лицензии
		ul.licenses__list
			li.licenses__items
				a.licenses__item-file(data-fancybox="gallery" href="/local/assets/img/license.png")
					img(src="/local/assets/img/license.png", alt="" class="licenses__item-file-img")
					.div
						p
							|	Лицензия ФКЦБ России на осуществление деятельности по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными пенсионными фондами № 21-000-1-00088 от 12 ноября 2002 года. Лицензия бессрочная.
						span
							|	 Смотреть
			li.licenses__items
				a.licenses__item-file(data-fancybox="gallery" href="/local/assets/img/license.png")
					img(src="/local/assets/img/license.png", alt="" class="licenses__item-file-img")
					.div
						p
							|	Лицензия ФСФР России на осуществление деятельности по управлению ценными бумагами № 092-10532-001000 от 11 сентября 2007 года. Лицензия бессрочная.
						span
							|	 Смотреть
