+linkCSS("about-fund")

section.about-fund(data-anim-fade)
	.site-container.about-fund__container
		h2.about-fund__heading.second-title
			|	О фонде
		.about-fund__list
			.about-fund__item
				span.about-fund__item-heading
					|	Предшествующее наименование фонда до 17.11.2017 года
				p
					|	Общество с ограниченной ответственностью Управляющая компания «АК БАРС КАПИТАЛ»
			.about-fund__item
				span.about-fund__item-heading
					|	Состав портфеля фонда
				p
					|	ценные бумаги и имущественные права из фьючерсных и опционных договоров (контрактов).
			.about-fund__item
				span.about-fund__item-heading
					|	Описание фонда
				p
					|	Распознавание рыночных формаций и "паттернов". Портфель формируется из акций, составляющих Индекс ММВБ 10. Также в портфель включаются акции с высокими дивидендами и акции с особо-рыночными ситуациями (включение в международные индексы, существенное увеличение дивидендов и прочие ситуации).
			.about-fund__item
				span.about-fund__item-heading
					|	Cокращенное название Фонда
				p
					|	ОПИФ рыночных финансовых инструментов «АК БАРС – Акции»
			.about-fund__item
				span.about-fund__item-heading
					|	Тип фонда
				p
					|	Открытый ПИФ рыночных финансовых инструментов.
			.about-fund__item
				span.about-fund__item-heading
					|	Стратегия фонда
				p
					|	долгосрочное вложение средств в ценные бумаги и краткосрочное вложение средств в имущественные права из фьючерсных и опционных договоров (контрактов) для случаев хеджирования (защиты от) ценового или валютного риска во времени либо с целью получения дохода от изменения цены базового актива.
