+linkCSS("intro-block")

section.intro._white-intro._small-margin.pif-detailed__intro(style="background-image: url(/local/assets/img/intro-abb-bg.svg)")
	.site-container.intro__container
		+breadcrumbs([['Главная', "/local/html/index.html"], ['Паевые фонды']])(class="intro__breadcrumbs")
		.intro-slider
			.intro-slider__item
				img(class="intro-slider__img _type2" src="/local/assets/img/pifs/intro-img3.svg", alt="Инвестиции с «Ак Барс Капитал»")
				h1.intro__heading.intro-heading
					|	«Ак Барс — Консервативный»

				p.intro__text
					|	Инвестиции в рублевые облигации с широкой отраслевой диверсификацией, имеющие привлекательное сочетание ликвидности, надежности и доходности.

				button.button.button-reset.intro__btn(data-path="callback")
					|	Купить online


include about-fund

section.intro-feautures
	.site-container.intro-feautures__container
		.intro-feautures__item
			span.intro-feautures__item-heading
				|	3 года
			p.intro-feautures__item-text
				|	Рекомендуемый срок инвестирования
		.intro-feautures__item
			span.intro-feautures__item-heading
				|	1000 руб.
			p.intro-feautures__item-text
				|	Достаточно для старта инвестирования
		.intro-feautures__item
			span.intro-feautures__item-heading
				|	13%
			p.intro-feautures__item-text
				|	Налоговый вычет при инвестировании через ИИС

