main.page-main.main
	include intro
	include data
	include ../../parts/income
	include ../../parts/invest-steps
	include pifs-feuutres
	include ../../parts/shield-form
	include ../../parts/tabs-content
	include ../../parts/form
	include ../../parts/rights
