+linkCSS("pifs")

section.pifs-feautures.section
	.site-container.pifs-feautures__container
		h2.pifs-feautures__heading._margin.second-title
			|	Как мы управляем фондом?
		.pifs-feautures__list.mod-box
			.pifs-feautures__item-wrapper
				.pifs-feautures__item
					img.pifs-feautures__item-img(src="/local/assets/img/pifs/pifs-feautures-icon-strategy.svg", alt="")
					span.pifs-feautures__item-text
						|	Стратегия
				p.pifs-feautures__item-text-bottom
					|	Покупаем акции компаний с высокими дивидендами и меняем структуру портфеля при изменениях на рынке и реинвестируем дивиденды
			.pifs-feautures__item-wrapper
				.pifs-feautures__item
					img.pifs-feautures__item-img(src="/local/assets/img/pifs/pifs-feautures-icon-case.svg", alt="")
					span.pifs-feautures__item-text
						|	Портфель
				p.pifs-feautures__item-text-bottom
					|	Портфель содержит акции российских компаний с высокими дивидендными выплатами. Диверсифицируем портфель по отраслям, чтобы снизить риски
			.pifs-feautures__item-wrapper
				.pifs-feautures__item
					img.pifs-feautures__item-img(src="/local/assets/img/pifs/pifs-feautures-icon-money.svg", alt="")
					span.pifs-feautures__item-text
						|	Структура и валюта
				p.pifs-feautures__item-text-bottom
					|	Портфель содержит акции российских компаний с высокими дивидендными выплатами. Диверсифицируем портфель по отраслям, чтобы снизить риски
