+linkCSS("pifs")

section.pifs-feautures.section
	.site-container.pifs-feautures__container
		h2.pifs-feautures__heading.second-title
			span
				|	Преимущества
			|	ПИФ
		p.pifs-feautures__text
			|	Паевые фонды удивительным образом вобрали в себя все ключевые преимущества других способов инвестирования, став по-настоящему удобным продуктом:
		.pifs-feautures__list
			.pifs-feautures__item
				img.pifs-feautures__item-img(src="/local/assets/img/pifs/pifs-feautures-icon1.svg", alt="")
				span.pifs-feautures__item-text
					|	Профессиональное управление активами
			.pifs-feautures__item
				img.pifs-feautures__item-img(src="/local/assets/img/pifs/pifs-feautures-icon2.svg", alt="")
				span.pifs-feautures__item-text
					|	Безопасность владенияактивами
			.pifs-feautures__item
				img.pifs-feautures__item-img(src="/local/assets/img/pifs/pifs-feautures-icon3.svg", alt="")
				span.pifs-feautures__item-text
					|	Гибкие условия инвестирования
			.pifs-feautures__item
				img.pifs-feautures__item-img(src="/local/assets/img/pifs/pifs-feautures-icon4.svg", alt="")
				span.pifs-feautures__item-text
					|	Экономическая выгода
