+linkCSS("shield")
section.section_small-margin.shield._light
	.site-container
		.shield__inner(style="background-image: url(/local/assets/img/shield/shiled-light-bg.svg)")
			img(class="shield__img" src="/local/assets/img/shield/shiled-img-man.png" alt="Инвестируете впервые?")
			h2.shield__heading.second-title
				|	Инвестируете впервые?
			p.shield__text
				|	Мы собрали полезную базу материалов про инвестиции в ПИФы от наших экспертов. Перейдите, чтобы ознакомиться и погрузиться в мир инвестиций.
			a.shield__btn.button(href="/")
				|	 Начинающему инвестору
