.header {
	--color-header-white: #fff;
	--rgba-header-white: rgba(255, 255, 255, 0.6);
	--rgba-border-color: rgba(255, 255, 255, 0.2);
	--color-header-bg: #10002B;
	--icon-fill: #fff;
	--burger-menu-color: var(--color-white);

	&._header-black {
		--color-header-white: #10002B;
		--rgba-header-white: rgba(16, 0, 43, 0.6);
		--rgba-border-color: rgba(16, 0, 43, 0.2);
		--color-header-bg: #fff;
		--icon-fill: rgba(16, 0, 43, 0.6);
		--burger-menu-color: var(--color-green);

		box-shadow: 0 0 5px rgba(16, 0, 43, 0.1);

		.logo {
			display: none;
		}

		.logo_white {
			display: block;
		}

		.log-tablet-black {
			display: block;
		}

		.log-tablet-white {
			display: none;
		}
	}

	.log-tablet-black {
		display: none;
	}

	.logo_white {
		display: none;
	}

	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;
	width: 100%;

	height: var(--header-height);
	background-color: var(--color-header-bg);

	&__container {
		display: flex;
		align-items: center;
		padding-top: .9rem;

		@include mq(lg) {
			padding-top: 2.5rem;
		}

		@include mq(sm) {
			padding-top: 2.4rem;
		}
	}

	&__left-block {
		flex-shrink: 0;

		@include mq(lg) {
			display: none;
		}
	}

	&__rihgt-block {
		flex-grow: 1;
	}

	&__top {
		display: flex;
		align-items: center;
		padding-bottom: 0.9rem;
		margin-bottom: 1.5rem;
		border-bottom: 1px solid var(--rgba-border-color);

		@include mq(lg) {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: 0;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;

		@include mq(lg) {
			display: none;
		}
	}

	&__search {
		margin-left: auto;
		display: inline-block;
		margin-right: 2rem;

		&-icon {
			display: block;
			width: 1.8rem;
			height: 1.8rem;
			fill: var(--rgba-header-white);
		}
	}

	&__btn {
		padding: 0.8rem 3.4rem;
		font-size: 1.3rem;
		line-height: 1.9rem;
		margin-left: auto;

		@include mq(lg) {
			margin-left: 4.8rem;
		}

		@include mq(md) {
			padding: 0.8rem 3.1rem;
			font-size: 1.3rem;
			line-height: 1.9rem;
		}

		@include mq(sm) {
			width: 3.6rem;
			height: 3.6rem;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.8rem;
			margin-left: 2rem;

			span {
				display: none;
			}
		}
	}

	&__btn-mobile-icon {
		display: block;
		width: 2rem;
		height: 2rem;
		fill: var(--color-white);

		@include mq(sm, min) {
			display: none;
		}
	}

	&__tel {
		margin-left: auto;
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2.1rem;
		color: var(--color-header-white);
		letter-spacing: 0.02em;

		&-icon {
			display: block;
			margin-right: 1rem;
			width: 1.9rem;
			height: 1.9rem;
			fill: none;
			stroke: var(--color-header-white);
			stroke-miterlimit: 10;
			stroke-linecap: round;
			stroke-linejoin: round;
		}
	}

	&__mobile-btn {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 2.4rem;
		height: 2.4rem;
		margin-right: 2rem;

		@include mq(lg, min) {
			display: none;
		}

		span {
			flex-shrink: 0;
			display: block;
			width: 1.6rem;
			height: 0.2rem;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: var(--burger-menu-color);
			border-radius: 0.1rem;

			&:nth-child(1) {
				top: 0.5rem;
				transform: translateX(-50%);
			}

			&:nth-child(2) {
				top: auto;
				bottom: 0.5rem;
				transform: translateX(-50%);
			}
		}
	}

	&__tablet-logo {
		display: block;
		width: 14.6rem;
		height: 3rem;
		object-fit: cover;

		@include mq(lg, min) {
			display: none;
		}

		@include mq(sm) {
			display: none;
		}
	}

	&__mobile-logo {
		display: block;
		width: 8.5rem;
		height: 3rem;
		object-fit: cover;

		@include mq(sm, min) {
			display: none;
		}
	}

	&__mobile-links {
		margin-left: auto;

		@include mq(lg, min) {
			display: none;
		}
	}

	&__mobile-link {
		display: block;
		width: 1.9rem;
		height: 1.9rem;

		.icon {
			width: 100%;
			height: 100%;
		}
	}
}

.top-nav {
	display: flex;

	@include mq(lg) {
		display: none;
	}

	&__item {
		margin-right: 4rem;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		font-size: 1.3rem;
		line-height: 2.3rem;
		color: var(--rgba-header-white);
		text-transform: capitalize;
		transition: color var(--transition);

		&:hover {
			color: var(--color-green);
		}
	}
}

.bottom-nav {
	display: flex;

	&__item {
		margin-right: 3.2rem;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		font-size: 1.4rem;
		line-height: 2.1rem;
		color: var(--color-header-white);
		text-transform: capitalize;
		letter-spacing: 0.02em;
		transition: color var(--transition);

		&:hover {
			color: var(--color-green);
		}
	}
}

.header-dropdown {
	position: relative;

	&:hover {
		.header-dropdown__content {
			opacity: 1;
			visibility: visible;
		}

		.header-dropdown__btn-icon {
			stroke: var(--color-green);
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	&__btn-icon {
		display: block;
		margin-left: 0.8rem;
		fill: none;
		stroke: var(--icon-fill);
		transition: stroke var(--transition);
	}

	&__content {
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 24.1rem;
		padding-top: 0.5rem;
		opacity: 0;
		visibility: hidden;
		transition: opacity var(--transition), visibility var(--transition);
	}

	&__content-container {
		background-color: var(--color-white);
		border-radius: 0.8rem;
		padding: 1.6rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		box-shadow: 0 0 20px rgba($color: #10002B, $alpha: 0.5);
	}

	&__link {
		display: inline-block;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 2.1rem;
		letter-spacing: 0.02em;
		color: var(--color-dark);
		margin-bottom: 1.2rem;
		transition: color var(--transition);

		&:hover {
			color: var(--color-green);
		}


		&:last-child {
			margin-bottom: 0;
		}
	}
}
