.intro-small {
	min-height: 23rem;
	background-color: var(--color-grey-bg);
	padding-top: 3.2rem;

	@include mq(md) {
		padding-top: 4rem;
	}

	@include mq(sm) {
		min-height: 0;
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	&__breadcrumbs {
		@include mq(md) {
			margin-bottom: 4.9rem;
		}
	}

	&__container {
		position: relative;
		height: 100%;

		@include mq(sm) {
			height: auto;
		}
	}

	&__img {
		position: absolute;
		bottom: 0;
		right: 7.3rem;
		width: 44.7rem;
		height: 30rem;

		@include mq(md) {
			width: 24.8rem;
			height: 22.4rem;
			right: 0;
			bottom: 0;
		}

		@include mq(sm) {
			display: none;
		}
	}

	&._type2 {
		height: 32.3rem;

		@include mq(sm) {
			height: auto;
			min-height: 0;
		}
	}

	&__heading {
		max-width: 74.3rem;
		font-size: 4.8rem;
		line-height: 5.7rem;

		&._small-font {
			max-width: 83.7rem;
			font-size: 3.2rem;
			line-height: 3.8rem;
			letter-spacing: 0.02em;

			@include mq(sm) {
				font-size: 2.4rem;
				line-height: 3.2rem;
			}
		}

		@include mq(sm) {
			font-size: 2.4rem;
			line-height: 3.2rem;
		}
	}

	&__text {
		margin-top: 2.4rem;
		font-size: 1.8rem;
		line-height: 2.4rem;
		letter-spacing: 0.01em;
		color: rgba($color: #10002B, $alpha: 0.4);

		&._max-width {
			max-width: 51rem;
			padding-bottom: 11.4rem;
		}

		@include mq(sm) {
			font-size: 1.6rem;
			line-height: 2.4rem;
			margin-top: 2.4rem;
		}
	}
}

.open-info-detail__intro {
	@include mq(md) {
		margin-bottom: 2.4rem;
	}

	@include mq(sm) {
		margin-bottom: 2.4rem;
	}
}


.stuff-intro {
	margin-bottom: 6rem;

	@include mq(md) {
		margin-bottom: 8rem;
	}

	@include mq(sm) {
		margin-bottom: 4rem;
	}
}

.stuff-detailed-intro {
	margin-bottom: 3.2rem;

	@include mq(md) {
		margin-bottom: 8rem;
	}

	@include mq(sm) {
		margin-bottom: 4rem;
	}
}
