.intro-small {
	min-height: 23rem;
	background-color: var(--color-grey-bg);
	padding-top: 3.2rem;

	&__container {
		position: relative;
		height: 100%;
	}

	&__img {
		position: absolute;
		bottom: 0;
		right: 7.3rem;
		width: 44.7rem;
		height: 30rem;
	}

	&._type2 {
		height: 32.3rem;
	}

	&__heading {
		max-width: 74.3rem;
		font-size: 4.8rem;
		line-height: 5.7rem;

		&._small-font {
			max-width: 83.7rem;
			font-size: 3.2rem;
			line-height: 3.8rem;
			letter-spacing: 0.02em;
		}
	}

	&__text {
		margin-top: 2.4rem;
		font-size: 1.8rem;
		line-height: 2.4rem;
		letter-spacing: 0.01em;
		color: rgba($color: #10002B, $alpha: 0.4);
	}
}
