.pagination {
	display: inline-flex;
	align-items: center;
	margin-top: 4.8rem;

	@include mq(md) {
		display: flex;
		justify-content: center;
	}

	@include mq(sm) {
		margin-top: 3.2rem;
	}

	&__link {
		display: inline-block;
		padding: 1.3rem 1rem;
		border-radius: 0.4rem;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.1rem;
		letter-spacing: 0.02em;
		transition: color var(--transition), background-color var(--transition);

		&:hover {
			background-color: var(--color-green);
			color: var(--color-white);
		}


		&.is-active {
			pointer-events: none;
			background-color: var(--color-green);
			color: var(--color-white);
		}
	}
}
