include ../data/config.pug
include ../mixins/**/*.pug

block variables

doctype html
html(lang=siteLang)
	head
		include ../parts/head.pug
	body(class=bodyClass)
		.prealoder
			.svg-wrapper
				include ../../img/preloader.svg
		.page-wrapper
			block header
				include ../parts/header.pug

			block content

			block footer
				include ../parts/footer.pug

	block scripts
		script(src="/local/assets/js/vendor.js?v=" + siteVersion)
		script(src="/local/assets/js/global.js?v=" + siteVersion)
		script(src="/local/assets/js/validation.js?v=" + siteVersion)
		script(src="/local/assets/js/main.js?v=" + siteVersion)

