section.section_small-margin.intro-small._padding.our-agents__intro
	.site-container.intro-small__container
		+breadcrumbs([['Главная', "/local/html/index.html"], ['Где купить', "/local/html/where-buy.html"], ['Оплата паев в банкоматах']])(class="intro-small__breadcrumbs")
		h1.intro-small__heading
			|	Агенты ООО УК
			br
			| «АК БАРС КАПИТАЛ»
		p.intro-small__text._max-width
			|	Агенты по выдаче, погашению и обмену инвестиционных паев под управлением ООО УК «АК БАРС КАПИТАЛ»
		img(class="intro-small__img" src="/local/assets/img/intro-block/flying-man.svg", alt="Полезные материалы для инвестора")
