+linkCSS("form")

section.form.form_grey-bg
	.site-container.form__container
		img(class="form__img _right" src="/local/assets/img/form/telergam.svg", alt="")
		img(class="form__img _left" src="/local/assets/img/form/telergam.svg", alt="")
		form.form__inner(data-need-validation action="/local/include/test.php")
			h2.form__heading.second-title
				|	Подпишитесь на рассылку
			p.form__txt
				|	Только актуальная информация, самые свежие новости, события внутри компании и никакого спама.
			label.form__label
				input.form__input(type="email" placeholder="Укажите Email" name="email" data-parsley-required)
			.form__agreement-wrapper
				button.button-reset.button.form__btn
					|	Подписаться
				label.form__agreement
					input.form__input-agreement.visually-hidden(type="checkbox" name="agreemnet" data-parsley-required)
					p
						|	Я соглашаюсь с условиями и даю свое согласие на обработку и использование моих персональных данных
