section.section_small-margin.intro-small
	.site-container.intro-small__container
		+breadcrumbs([['Главная', "/local/html/index.html"], ['Пресс-центр', "/local/html/index.html"], ['Новости', "/local/html/index.html"], ['График работы']])(class="intro-small__breadcrumbs")
		h1.intro-small__heading._small-font
			|	О работе ООО УК «АК БАРС КАПИТАЛ» в период с&nbsp;1 ноября по 7 ноября 2021 года
