+linkCSS("card")
+linkCSS("news-content")

section.section.news-content
	.site-container.news-content__container
		.news-content__left-block.news-content__text
			p
				|	Уважаемые клиенты и партнеры! В связи с Указом Президента Российской Федерации от 20.10.2021 № 595 "Об установлении на территории Российской Федерации нерабочих дней в октябре - ноябре 2021 г.", направленным на предотвращение распространения коронавирусной инфекции, информируем о следующем:
			p
				b
					|	С 4 по 7 ноября
				|	- выходные и нерабочие праздничные дни.
				br
				b
					|	С 1 по 3 ноября
				|	С 1 по 3 ноября Управляющая компания продолжает работу в дистанционном режиме. Поддержка клиентов по телефону и электронной почте будет осуществляться сотрудниками Управляющей компании в штатном режиме.
			p
				|	Проведение операций по выдаче и погашению инвестиционных паев Открытых паевых инвестиционных фондов под управлением ООО УК "АК БАРС КАПИТАЛ" будет продолжено по дистанционной схеме без ограничений через информационную систему «Личный кабинет пайщика».


			a.news-content__back-link(href="/")
				+icon("arrow-shevron-left")(width="12" height="6" class="news-content__back-link-icon")
				|	Вернуться назад
		.news-content__right-block
			span.news-content__block-legend
				|	Свежие новости
			a.card.news-content__news-item(href="/")
				.card__top
					span.card__date
						+icon("calendar")(width="18" height="19" class="card__date-icon")
						|	17.10.2021
					span.card__feauture._red
						|	Covid-19
				p.card__content
					|	Важно! Предупреждаем Вас об участившихся случаях мошеннических действий в социальных сетях и сети Интернет
				span.card__link-text
					|	Подробнее
			a.card.news-content__news-item(href="/")
				.card__top
					span.card__date
						+icon("calendar")(width="18" height="19" class="card__date-icon")
						|	17.10.2021
					span.card__feauture
						|	Covid-19
				p.card__content
					|	Приостановление функционирования сайта по причине технического сбоя
				span.card__link-text
					|	Подробнее
			a.card.news-content__news-item(href="/")
				.card__top
					span.card__date
						+icon("calendar")(width="18" height="19" class="card__date-icon")
						|	17.10.2021
					span.card__feauture._red
						|	Covid-19
				p.card__content
					|	Важно! Предупреждаем Вас об участившихся случаях мошеннических действий в социальных сетях и сети Интернет
				span.card__link-text
					|	Подробнее
