+linkCSS("about-short")
+linkCSS("feautures")

section.section.about-short(data-anim-fade)
	.site-container.about-short__container
		h2.about-short__heading.second-title
			|	Коротко о компании
		.feautures__list
			.feautures__item
				img.feautures__img-icon(src="/local/assets/img/feautures/img-icon.png", alt="")
				span.feautures__heading
					|	А+
				p.feautures__text._max-width
					|	Свидетельство Национального рейтинового агентства о присвоении некредитного рейтинга надежности и качества услуг «A+|ru.am|»
			.feautures__item
				img.feautures__img-icon-bg(src="/local/assets/img/feautures/img-icon-bg.svg", alt="")
				span.feautures__heading
					|	2002
				p.feautures__text._big
					|	Управляющая компания «АК БАРС КАПИТАЛ»
					span
						|	 основана в 2002 году

			.feautures__item
				img.feautures__img-icon-bg(src="/local/assets/img/feautures/img-icon-bg2.svg", alt="")
				span.feautures__heading
					|	54
					span
						|	млрд.
				p.feautures__text._big
					|	Стоимость чистых активов более
					span
						|	54 миллиарда рублей
