+linkCSS("chief")
section.section.chief
	.site-container.chief__container
			img.chief__img(src="/local/assets/img/chief.jpg", alt="")
			.chief__info
				p.chief__text
					|	Все необходимые сотрудники для полной реализации проекта работают у нас в штате: аналитики, юзабилити-специалисты, проектировщики, дизайнеры, фронтенд- и бэкенд-разработчики, тестировщики, системные администраторы и даже специалисты по информационной безопасности.
				span.chief__name
					|	Гайзатуллин Рамиль Ринатович
				span.chief__position
					|	Генеральный директор
				a.chief__link(href="/")
					|	Руководство
					br
					| «АкБарс Капитал»
					+icon("link-open-icon")(width="13" height="13" class="chief__link-icon")
