section.section.intro-middle(style="background-image: url(/local/assets/img/intro-block/bg.jpg)")
	.site-container.intro-middle__container
		+breadcrumbs([['Главная', "/local/html/index.html"], ['О компании']])(class="intro-middle__breadcrumbs")
		h1.intro-middle__title
			|	Лучшая управляющая компания Приволжского Федерального округа
