+linkCSS("licenses")

section.section.licenses
	.site-container.licenses__container
		h2.licenses__heading.second-title
			|	Лицензии
		ul.licenses__list
			li.licenses__items
				a.licenses__item-file(data-fancybox="gallery" href="/local/assets/img/license.png")
					img(src="/local/assets/img/license.png", alt="" class="licenses__item-file-img")
					.div
						p
							|	Лицензия ФКЦБ России на осуществление деятельности по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными пенсионными фондами № 21-000-1-00088 от 12 ноября 2002 года. Лицензия бессрочная.
						span
							|	 Смотреть
			li.licenses__items
				a.licenses__item-file(data-fancybox="gallery" href="/local/assets/img/license.png")
					img(src="/local/assets/img/license.png", alt="" class="licenses__item-file-img")
					.div
						p
							|	Лицензия ФСФР России на осуществление деятельности по управлению ценными бумагами № 092-10532-001000 от 11 сентября 2007 года. Лицензия бессрочная.
						span
							|	 Смотреть
		p.warning-text
			<svg class="warning-text__icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<circle cx="12" cy="12" r="11" stroke="#00B2A9" stroke-width="2"/>
				<path d="M10.2002 10.8H12.0002V16.8H13.8002" stroke="#00B2A9" stroke-width="2"/>
				<rect x="11" y="6" width="2" height="2" fill="#00B2A9"/>
			</svg>
			span
				|	Уведомляем о существовании риска возникновения конфликта интересов при совмещении деятельности
				br
				|	по доверительному управлению паевыми инвестиционными фондами и деятельности по управлению ценными бумагами.
