+linkCSS("partners")

-
	let partners = [
		"АО «НПФ «Волга-Капитал»",
		"ЗАО «Первый специализированный депозитарий»",
		"ЗАО ВТБ Специализированный депозитарий",
		"АО «Специализированный депозитарий «ИНФИНИТУМ»",
		"ЗАО «Аудиторско-консалтинговая фирма «АУДЭКС»"
	]



section.section.partners
	.site-container.partners__container
		.partners__heading-wrapper
			h2.partners__heading.second-title
				|	Партнеры
			.slider-nav.partners__nav
				button.slider-nav__btn.button-reset.js-partners-slider-prev.partners__nav-btn
					<svg class="slider-nav__btn-circle"  width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="25" cy="25" r="24.5" stroke="#00B2A9"/>
					</svg>
					+icon("arrow-shevron-left")(width="10" height="16" class="slider-nav__btn-icon partners__nav-btn-icon")
				button.slider-nav__btn.button-reset.js-partners-slider-next.partners__nav-btn
					<svg class="slider-nav__btn-circle"  width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="25" cy="25" r="24.5" stroke="#00B2A9"/>
					</svg>
					+icon("arrow-shevron-right")(width="10" height="16" class="slider-nav__btn-icon partners__nav-btn-icon")
		.partners__slider.js-partners-slider
			.swiper-wrapper
				for item, index in partners
					.partners__item.swiper-slide
						img.partners__img(src=`/local/assets/img/partners/img${index}.png`, alt="")
						p.partners__text=item
						ul
							li
								span
									|	Фактический и почтовый адрес:
								|	420061, г.&nbsp;Казань, ул.&nbsp;Ершова, д.&nbsp;55е
							li
								span
									|	Телефон:
								a(href="tel:+78432731314")
									|	 (843) 273-13-14
							li
								span
									|	Факс:
								a(href="tel:+78432735253")
									|	 (843) 273-52-53
							li
								span
									|	Сайт:
								a(href="www.volga-capital.ru")
									|	 www.volga-capital.ru
						p
							|	АО «НПФ «Волга-Капитал» создан 25 октября 1999 года как некоммерческая организация социального обеспечения.
						p
							|	Виды деятельности: негосударственное пенсионное обеспечение, обязательное пенсионное страхование.



		button.button-reset.button.partners__btn(href="/" data-path="callback" data-modal-heading="Стать агентом")
			|	 Стать агентом

+linkJs("partners")
